{% extends '_base.html' %}

{% load humanize i18n static %}


{% block title %}{% translate 'Order Detail' %} | {{ block.super }}{% endblock %}


{% block content %}
  {% if request.user.family == order.seller.family %}
    <div class="d-flex justify-content-between align-items-center mb-5">
      <a href="{% url 'campaigns:order_list' %}" class="btn btn-secondary"><i class="fas fa-caret-square-left"></i> {% translate 'Orders List' %}
      </a>
      {% include 'campaigns/snippets/new_order_button.html' %}
    </div>
  {% endif %}
  <div class="d-flex justify-content-between mb-5">
    <div>
      <h1>{{ order.customer }}'s Order</h1>
      <address>
        <ul class="fa-ul">
          {% if order.customer.get_address_display %}
            <li>
              <span class="fa-li"><i class="fas fa-map-marked fa-fw"></i></span>
              {{ order.customer.get_address_display }}
            </li>
          {% endif %}
          {% if order.customer.email %}
            <li>
              <span class="fa-li"><i class="fas fa-envelope"></i></span>
              <a href="mailto:{{ order.customer.email }}?subject={% blocktranslate with name=site.name %}Your order with {{ name }}{% endblocktranslate %}">{{ order.customer.email }}</a>
            </li>
          {% endif %}
          {% if order.customer.phone_number %}
            <li>
              <span class="fa-li"><i class="fas fa-phone"></i></span>
              <a href="tel:{{ order.customer.number.as_e164 }}">{{ order.customer.phone_number }}</a>
            </li>
          {% endif %}
        </ul>
      </address>
    </div>
    <div>
      {% if order.date_paid %}<img src="{% static 'img/paid_stamp.svg' %}">
      {% else %}
        <h6 class="text-muted d-flex flex-column">
          {% if order.product_count %}
            <div class="row">
              <p class="col-5">${{ order.annotated_items.total|intcomma }}</p>
              <p class="col">item{{ order.product_count|pluralize }}</p>
            </div>
          {% endif %}
          {% if order.donation %}
            <div class="row">
              <p class="col-5">${{ order.donation|intcomma }}</p>
              <p class="col">{% translate 'donation' %}</p>
            </div>
          {% endif %}
        </h6>
      {% endif %}
      <h1 class="text-success">
        $<span id="order-total">{% if order.get_total %}{{ order.get_total|intcomma }}{% else %}0.00{% endif %}</span>
      </h1>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    {% for item in order.items.all %}
      {% ifchanged item.product.category %}
        <li class="list-group-item mt-5"><h3>{{ item.product.category }}</h3></li>
      {% endifchanged %}
      <li class="list-group-item" id="{{ item.product.pk }}">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            {% if item.product.image %}
              <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="rounded" height="80">
            {% else %}
              <img src="https://via.placeholder.com/80" alt="{{ item.product.name }}" class="rounded" height="80">
            {% endif %}
          </div>
          <div class="flex-grow-1 ml-3">
            <div class="d-flex justify-content-between align-items-center">
              <strong>{{ item.product.name }}</strong>
              <div class="d-flex flex-column text-right">
                <small><em class="text-muted">{{ item.quantity }} &times; ${{ item.product.price }}/ea.</em></small>
                <span class="text-muted">${{ item.get_total_item_price|intcomma }}</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    {% if order.donation %}
      <li class="list-group-item mt-5 text-right"><h3>Donation: ${{ order.donation|intcomma }}</h3></li>
    {% endif %}
  </ul>
  {% if request.user.family == order.seller.family %}
    <div class="d-flex justify-content-between">
    {% if order.campaign.can_take_orders %}
      <div class="btn-group" role="group" aria-label="Order Editing tools">
        <a href="{% url 'campaigns:order_update' order.pk %}" class="btn btn-outline-secondary btn-block{% if order.date_paid or order.date_delivered %} disabled" tabindex="-1" aria-disabled="true{% endif %}">{% translate 'Make changes' %}</a>
        <a href="{% url 'campaigns:order_delete' order.pk %}" class="btn btn-outline-danger{% if order.date_paid or order.date_delivered %} disabled" tabindex="-1" aria-disabled="true{% endif %}">{% translate 'Delete' %}</a>
      </div>
    {% endif %}
    {% include 'campaigns/snippets/order_status_buttons.html' %}
    </div>
  {% endif %}
{% endblock %}


{% block js %}
  {{ block.super }}
  <script>
    const csrftoken = "{{ csrf_token }}"
    const update_url = "{% url 'campaigns:api_update' %}"
  </script>
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}
