{% extends '_base.html' %}

{% load humanize i18n static %}


{% block title %}{% translate 'Orders Report' %} | {{ block.super }}{% endblock %}


{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1>{% translate 'Order Report' %}</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary">{{ campaigns.viewing }}</button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">{% translate 'Toggle Dropdown' %}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {% for campaign in campaigns.available %}
          {% if not campaign == campaigns.viewing %}
            <a class="dropdown-item" href="{% url 'campaigns:order_report_by_campaign' campaign=campaign.year.year %}">{{ campaign }}</a>
          {% else %}
            <div class="dropdown-item active">{{ campaign }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <caption>{% translate "Orders received by day" %}</caption>
    <thead class="thead-dark">
    <tr>
      <th scope="col">
        {% translate 'Date' %}
      </th>
      <th scope="col">
        {% translate 'Orders Received' %}
      </th>
      <th scope="col">
        {% translate 'Total' %}
      </th>
    </tr>
    </thead>
    <tbody>
    {% for day in report.days %}
      <tr>
        <th scope="row">{{ day.date|naturalday }}</th>
        <td>{{ day.count|intcomma }}</td>
        <td>${{ day.order_total|intcomma }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">{% translate "Total" %}</th>
        <td>{{ report.count|intcomma }}</td>
        <td>${{ report.total|intcomma }}</td>
      </tr>
    </tfoot>
  </table>

{% endblock %}
