{% extends '_base.html' %}

{% load humanize i18n static %}


{% block title %}{% translate 'Orders' %} | {{ block.super }}{% endblock %}


{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>{% translate 'Orders' %}</h1>
    {% include 'campaigns/snippets/new_order_button.html' %}
  </div>

  {% regroup order_list by seller as seller_order_list %}
  {% for seller in seller_order_list %}
    {% include 'campaigns/snippets/quota_progress.html' with scout=seller.grouper %}
    <div class="list-group list-group-flush mb-5">
      {% for order in seller.list %}
        <a href="{{ order.get_absolute_url }}" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between align-items-center">
            <h5>{{ order.customer.name }}</h5>
            <div>
              {% if order.is_paid %}<img src="{% static 'img/paid_stamp.svg' %}" class="float-left">{% endif %}
              <div class="d-flex flex-column align-items-end">
                <small>{{ order.date_added|naturalday }}</small>
                <strong class="text-success">${{ order.get_total|intcomma }}</strong>
              </div>
            </div>
          </div>
          <small>{{ order.customer.get_address_display }}</small>
        </a>
      {% endfor %}
      <p class="text-right">{{ seller.list|length }} order{{ seller.list|length|pluralize }}</p>
    </div>
  {% endfor %}
{% endblock %}
