{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% translate 'Prizes' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% translate 'Prizes' %}</h1>
  <div class="card-deck">
    {% for prize in prize_list %}
      <div class="card">
        {% if prize.image %}
          <img src="{{ prize.image.url }}"
               class="card-img-top"
               alt="{{ prize.name }}">
        {% else %}
          <img src="https://via.placeholder.com/300/515354/E9E9E4/?text={{ prize.name|urlencode }}"
               class="card-img-top"
               alt="{{ prize.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ prize.name }}</h5>
          <hr>
          <p class="card-text">
            <i class="fab fa-pied-piper-pp"></i> <span class="font-weight-bolder text-black-50">{{ prize.points }}</span>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
