{% extends "base.html" %}

{% load humanize i18n static %}

{% block title %}Products | {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    {% for product in product_list %}
      {% ifchanged product.category %}
        <div class="w-100 mt-5">
          <h2>{{ product.category }}</h2>
        </div>
      {% endifchanged %}
      <div class="col-lg-4 mt-3">
        <div class="card">
          {% if product.image %}
            <img src="{{ product.image.url }}"
                 alt="{{ product.name }}"
                 class="card-img-top">
          {% else %}
            <img src="https://via.placeholder.com/300/515354/E9E9E4/?text={{ product.name|urlencode }}"
                 alt="{{ product.name }}"
                 class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-text font-weight-lighter d-none d-lg-block">
              {{ product.description }}
            </p>
            <hr>
            <div class="d-flex flex-column align-items-end">
              <span class="font-weight-bolder text-black-50">${{ product.price|intcomma }}</span>
              <small class="font-weight-light text-black-50">{{ product.weight|floatformat }} {{ product.get_unit_display }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
