{% load pages_tags i18n %}

<!-- Pagination --------------------------------------------------------------------------------------------------->
<nav aria-label="{% translate 'Page navigation' %}">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?{% query_transform page=page_obj.previous_page_number %}">
          <i class="fa-regular fa-arrow-alt-circle-left"></i>
          <span class="visually-hidden">{% translate 'Next' %}</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="fa-regular fa-arrow-alt-circle-left"></i>
        </span>
      </li>
    {% endif %}
    {% get_elided_page_range page_obj as page_range %}
    {% for page in page_range %}
      {% if page == page_obj.number %}
        <li class="page-item active">
          <a class="page-link"
             href="?{% query_transform page=page %}"
             aria-disabled="true">
            {{ page }} <span class="visually-hidden">({% translate 'current' %})</span>
            <span class="d-lg-none">{% translate 'of' context 'of pages' %} {{ paginator.num_pages }}</span>
          </a>
        </li>
      {% else %}
        {% if page == page_obj.paginator.ELLIPSIS %}
          <li class="page-item d-none d-lg-block">
            <span class="page-link">{{ page }}</span>
          </li>
        {% else %}
          <li class="page-item d-none d-lg-block">
            <a class="page-link" href="?{% query_transform page=page %}">{{ page }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?{% query_transform page=page_obj.next_page_number %}">
          <i class="fa-regular fa-arrow-alt-circle-right"></i>
          <span class="visually-hidden">{% translate 'Next' %}</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="fa-regular fa-arrow-alt-circle-right"></i>
        </span>
      </li>
    {% endif %}
  </ul>
</nav>
