{% extends "_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ member }} - Update{% endblock %}

{% block content %}
  <div class="container row">
    <div class="col-md-3">
      {% include 'membership/headshot_snippet.html' %}
    </div>
    <div class="col-md-9">
      <h1>{{ member }}</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="mt-4">
          <legend>Personal Details</legend>
          {% crispy form %}
        </fieldset>
        <fieldset class="inline mt-4">
          <legend>Address{{ address_formset.total_form_count|pluralize:'es' }}</legend>
          {{ address_formset.management_form }}
          <div id="{{ address_formset.prefix }}-form_set">
            {% for form in address_formset %}
              <div class="form-row {{ address_formset.prefix }}">
                <div class="col mt-5">
                  {% crispy form %}
                </div>
              </div>
            {% endfor %}
          </div>
        </fieldset>
        <fieldset class="inline mt-4">
          <legend>Phone Number{{ phonenumber_formset.total_form_count|pluralize }}</legend>
          {{ phonenumber_formset.management_form }}
          {% for form in phonenumber_formset %}
            <div class="form-row {{ phonenumber_formset.prefix }}">
              <div class="col mt-5">
                {% crispy form %}
              </div>
            </div>
          {% endfor %}
        </fieldset>
        <input type="submit" value="Update" class="btn btn-success"/>
        <a href="{% url 'parent_detail' member.id %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}

{% comment %}
{% block js %}
  <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
      $('.form-row.{{ address_formset.prefix }}').formset({
          prefix: '{{ address_formset.prefix }}',
          addCssClass: 'btn btn-primary btn-block add-row',
          deleteCssClass: 'btn btn-danger delete-row',
          uiText: {
              addPrompt: 'Add another address',
              removePrompt: 'Delete this address'
          },
      });
      $('.form-row.{{ phonenumber_formset.prefix }}').formset({
          prefix: '{{ phonenumber_formset.prefix }}',
          addCssClass: 'btn btn-primary btn-block add-row',
          deleteCssClass: 'btn btn-danger delete-row',

          uiText: {
              addPrompt: 'Add another phone number',
              removePrompt: 'Delete this number'
          },
      });
  </script>
{% endblock %}
{% endcomment %}