{% extends "_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ member }} - Update{% endblock %}

{% block content %}
  <div class="container row">
    <div class="col-md-3">
      {% if member.photo %}
        <img src="{{ member.photo.url }}" class="img-fluid rounded" alt="{{ member }}'s profile picture">
      {% elif member.gender == 'M' %}
        <img src="{% static 'img/avatar_man.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% elif member.gender == 'F' %}
        <img src="{% static 'img/avatar_woman.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% else %}
        <img src="{% static 'img/avatar_generic.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% endif %}
    </div>
    <div class="col-md-9">
      <h1>{{ member }}</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="mt-4">
          <legend>Personal Details</legend>
          {% crispy form %}
        </fieldset>
        <fieldset class="mt-4">
          <legend>Address{{ address_formset.total_form_count|pluralize }}</legend>
          {{ address_formset.management_form }}
          {% for form in address_formset %}
            {% crispy form %}
          {% endfor %}
        </fieldset>
        <fieldset class="mt-4">
          <legend>Phone Number{{ phonenumber_formset.total_form_count|pluralize }}</legend>
          {{ phonenumber_formset.management_form }}
          {% for form in phonenumber_formset %}
            {% crispy form %}
          {% endfor %}
        </fieldset>
        <input type="submit" value="Update" class="btn btn-success"/>
        <a href="{% url 'parent_detail' member.id %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}