{% extends "_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Add a Parent/Guardian{% endblock %}

{% block content %}
  <h1>Add a Parent/Guardian</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="mt-4">
      <legend>Personal Details</legend>
      {{ form.non_form_errors }}
      {{ form.errors }}
      {% crispy form %}
    </fieldset>
    <fieldset class="mt-4">
      <legend>Address{{ address_formset.total_form_count|pluralize }}</legend>
      {{ address_formset.management_form }}
      {{ address_formset.errors }}
      {% for form in address_formset %}
        {% crispy form %}
      {% endfor %}
    </fieldset>
    <fieldset class="mt-4">
      <legend>Phone Number{{ phonenumber_formset.total_form_count|pluralize }}</legend>
      {{ phonenumber_formset.management_form }}
      {{ phonenumber_formset.errors }}
      {% for form in phonenumber_formset %}
        {% crispy form %}
      {% endfor %}
    </fieldset>
    <input type="submit" value="Add Adult" class="btn btn-success"/>
    <a href="{% url 'parent_detail' member.id %}" class="btn btn-primary">Cancel</a>
  </form>
{% endblock content %}

{% block js %}

{% endblock %}