{% extends "_base.html" %}

{% block title %}{{ member }}{% endblock title %}

{% block content %}
  <div class="container row">
    <h1>{{ member }}</h1>
    {% if user == member %}
      <a href="{% url 'family_update' %}" class="badge badge-warning ml-3 my-auto p-2">
        <i class="fa fa-user-edit"></i>
      </a>
    {% endif %}
  </div>
  {% include 'membership/member_detail_card.html' %}
  {% if member.family %}
    <hr>
    <h2>Family</h2>
    <div class="card-group" id="family-card-group">
      {% for member in member.get_partners %}
        {% include 'membership/member_detail_card.html' with member=member %}
      {% endfor %}
      {% for child in member.family.children.all %}
        {% include 'membership/member_detail_card.html' with member=child %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}