{% extends "_base.html" %}

{% block title %}{{ member }}{% endblock title %}

{% block content %}
  <div class="row">
  <div class="col">
    {% include 'membership/snippets/member_detail_card.html' %}
  </div>
  {% if member.committees.count %}
  <div class="col">
    <h3>Committee{{ member.committees.count|pluralize }} Served</h3>
    <ul class="list-unstyled">
    {% for committee in member.committees.all %}
      {{ committee.membership }}
      {% ifchanged committee.year_served %}<h5 class="mt-4">{{ committee.year_served }}</h5>{% endifchanged %}
      <a href="{% url 'committee_detail_by_year' slug=committee.committee.slug year=committee.year_served.year%}">
        <li>
          <strong>{{ committee.committee }}</strong>
          <small class="ml-1">{% if committee.den %}{{ committee.den }}{% elif 'Akela' in committee.committee.name %}{% else %}{{ committee.get_position_display }}{% endif %}</small>
        </li>
      </a>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  </div>
  {% if member.family.children.count or member.family.adults.count > 1 %}
    <hr>
    <h2>Family</h2>
    <div class="card-group" id="family-card-group">
      {% for member in member.get_partners %}
        {% include 'membership/snippets/member_detail_card.html' with member=member %}
      {% endfor %}
      {% for child in member.family.children.all %}
        {% include 'membership/snippets/member_detail_card.html' with member=child %}
      {% endfor %}
    </div>
  {% endif %}
  {% if user.family == member.family %}
    <div class="btn-group mt-4 btn-group-lg" role="group" aria-label="Add Family Members">
      <a href="{% url 'parent_create' %}" class="btn btn-secondary">Add an adult<span class="ml-3 px-2 badge badge-light"><i class="fas fa-male"></i></span></a>
      <a href="{% url 'scout_create' %}" class="btn btn-secondary">Nominate a cub<span class="ml-3 badge badge-light"><i class="fas fa-child"></i></span></a>
    </div>
  {% endif %}
{% endblock %}