{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ member }}{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4">{{ member }}</h1>
  </div>

  <div class="card-group mb-5">
    {% include 'membership/snippets/detail_card.html' with member_email=email member_addresses=addresses member_phone_numbers=phone_numbers %}

    {% if member.committees.count %}
      {% regroup member.committees.all by year_served as assignments_by_year %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% blocktrans count assignments=member.committees.count %}
            Committee Served
            {% plural %}
            Committees Served
          {% endblocktrans %}
          </h3>
          <div class="accordion" id="assignments-accordion">

            {% for year in assignments_by_year %}
              <div class="card">
                <div class="card-header" id="heading-{{ year.grouper.year }}">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left card-link{% if not forloop.first %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse-{{ year.grouper.year }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ year.grouper.year }}">
                      {{ year.grouper }}
                    </button>
                  </h2>
                </div>
                <div id="collapse-{{ year.grouper.year }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading-{{ year.grouper.year }}" data-parent="#assignments-accordion">
                  <div class="card-body">
                    <div class="list-group list-group-flush">

                      {% for assignment in year.list %}
                        <a href="{% url 'committee_detail_by_year' slug=assignment.committee.slug year=assignment.year_served.year %}" class="list-group-item list-group-item-action border-bottom-0">
                          <strong>{{ assignment.committee }}</strong>
                          <small class="ml-1">
                            {% if assignment.den %}
                              {{ assignment.den }}
                            {% elif 'Akela' in assignment.committee.name %}
                            {% else %}
                              {{ assignment.get_position_display }}
                            {% endif %}
                          </small>
                        </a>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    {% endif %}

  </div>

  {% if member.family.children.count or member.family.adults.count > 1 %}
    <h2>{% trans 'Family' %}</h2>
    <div class="card-group" id="family-card-group">
      {% for partner in member.get_partners %}
        {% include 'membership/snippets/detail_card.html' with member=partner %}
      {% endfor %}
      {% for child in member.family.children.all %}
        {% include 'membership/snippets/detail_card.html' with member=child %}
      {% endfor %}
    </div>
  {% endif %}

  {% if user.family == member.family %}
    <div class="btn-group mt-4 btn-group-lg" role="group" aria-label="{% trans 'Add Family Members' %}">
      <a href="{% url 'membership:parent_create' %}" class="btn btn-secondary">{% trans 'Add an adult' %}<span class="ml-3 px-2 badge badge-light"><i class="fas fa-male"></i></span></a>
      <a href="{% url 'membership:scout_create' %}" class="btn btn-secondary">{% trans 'Nominate a cub' %}<span class="ml-3 badge badge-light"><i class="fas fa-child"></i></span></a>
    </div>
  {% endif %}

{% endblock %}
