{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Members - Parents{% endblock %}

{% block content %}
  <div class="container row">
    <h1>Members</h1>
    <form class="form-inline ml-auto my-2" action="{% url 'member_search_results' %}" method="get" id="member-search">
      <input name="q" class="form-control" type="text" placeholder="&#xf002" aria-label="Search">
    </form>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'member_list' %}">All Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'parent_list' %}">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'scout_list' %}">Cubs</a>
    </li>
  </ul>
  <div class="container" id="member-list">
    {% if member_list %}
      <ul class="list-group">
        {% for member in member_list %}
          <li class="list-group-item">
            <a href="{{ member.get_absolute_url }}">
              <div class="row align-items-center">
                <div class="col-sm-2">
                  {% if member.photo %}
                    <img src="{{ member.photo|thumbnail_url:'thumbnail' }}" class="img-fluid rounded" id="headshot" alt="{{ member }}'s profile picture">
                  {% elif member.gender == 'M' %}
                    <img src="{% static 'img/avatar_man.png' %}" class="img-fluid rounded" id="headshot" alt="No profile picture">
                  {% elif member.gender == 'F' %}
                    <img src="{% static 'img/avatar_woman.png' %}" class="img-fluid rounded" id="headshot" alt="No profile picture">
                  {% else %}
                    <img src="{% static 'img/avatar_generic.png' %}" class="img-fluid rounded" id="headshot" alt="No profile picture">
                  {% endif %}
                </div>
                <div class="col-sm-10"><h4>{{ member }}</h4></div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-light" role="alert">
        <p class="text-center">
          The pack has no active members. It's time to invite some to <a href="{% url 'account_signup' %}" class="alert-link">join us</a>
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}