{% extends "_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ member }} - Update{% endblock %}

{% block content %}
  <div class="container row">
    <div class="col-md-3">
      {% if member.photo %}
        <img src="{{ member.photo.url }}" class="img-fluid rounded" alt="{{ member }}'s profile picture">
      {% else %}
        <img src="{% static 'img/avatar_cub.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% endif %}
    </div>
    <div class="col-md-9">
      <h1>{{ member }}</h1>
      {% crispy form %}
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'moment/moment.js' %}"></script>
  <script src="{% static 'tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock %}