{% extends "_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Nominate a scout{% endblock %}

{% block head_option %}<link rel="stylesheet" href="{% static 'tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}">{% endblock %}

{% block content %}
  <h1>Nominate a Scout</h1>
  {% crispy form %}
{% endblock content %}

{% block js %}
  <script src="{% static 'moment/moment.js' %}"></script>
  <script src="{% static 'tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock %}