{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Family{% endblock %}

{% block content %}
  <h1>My Family</h1>
  <h2>Me</h2>
  <div class="row">
    <div class="col-md-3">
      {% if member.photo %}
        <img src="{{ member.photo.url }}" class="img-fluid rounded" alt="{{ member }}'s profile picture">
      {% elif member.gender == 'M' %}
        <img src="{% static 'img/avatar_man.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% elif member.gender == 'F' %}
        <img src="{% static 'img/avatar_woman.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% else %}
        <img src="{% static 'img/avatar_generic.png' %}" class="img-fluid rounded" alt="No profile picture">
      {% endif %}
    </div>
    <div class="col-md-9">
      <h3>Personal Details</h3>
      {% crispy form %}
      <h3>Address{{ member.addresses.count|pluralize:'es' }}</h3>
      {{ address_formset.management_form|crispy }}
      {% for address_form in address_formset %}
        {% crispy address_form %}
      {% endfor %}
      <h3>Phone Number{{ member.phone_numbers.count|pluralize }}</h3>
      {{ phonenumber_formset.management_form|crispy }}
      {% for phonenumber_form in phonenumber_formset %}
        {% crispy phonenumber_form %}
      {% endfor %}
    </div>
  </div>
  <h2>Adult Family Member{{ member.get_partners.count|pluralize }}</h2>
  <ul class="list-group">
    {% for adult in member.get_partners.all %}
      <li class="list-group-item"><a href="{% url 'parent_update' adult.id %}">{{ adult.get_short_name }}</a></li>
    {% endfor %}
  </ul>
  <a class="btn btn-sm btn-secondary" href="{% url 'parent_create' %}">Add an adult</a>
  <h2>Child{{ member.family.children.count|pluralize:'ren' }}</h2>
  <ul class="list-group">
    {% for child in member.family.children.all %}
      <li class="list-group-item"><a href="{% url 'scout_update' child.id %}">{{ child.get_short_name }}</a></li>
    {% endfor %}
  </ul>
  <a class="btn btn-sm btn-secondary" href="{% url 'scout_create' %}">Add a child</a>

{% endblock %}
