{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Family{% endblock %}

{% block content %}
  <h1>My Family</h1>
    <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-lg btn-success">Update my details</button>
    <a class="btn btn-primary" href="{% url 'parent_detail' parent.id %}">Cancel</a>
  </form>

  <h3>Child{{ parent.children.count|pluralize:'ren' }}</h3>
  <ul class="list-unstyled">
  {% for child in parent.children.all %}
    <li><a href="{% url 'scout_update' child.id %}">{{ child.name }}</a></li>
  {% endfor %}
  </ul>
  <a class="btn btn-lg btn-secondary" href="{% url 'scout_create' %}">Add a child</a>

{% endblock %}
