{% load static %}

<div class="card shadow-sm">
  <a href="{{ member.get_absolute_url }}">
    {% if member.headshot %}
      <img src="{{ member.headshot.image.thumbnail.320x320 }}" class="card-img-top" alt="{{ member }}'s profile picture">
    {% elif member.scout %}
      <img src="{% static 'img/avatar_cub.png' %}" class="card-img-top" alt="No profile picture">
    {% elif member.gender == 'M' %}
      <img src="{% static 'img/avatar_man.png' %}" class="card-img-top" alt="No profile picture">
    {% elif member.gender == 'F' %}
      <img src="{% static 'img/avatar_woman.png' %}" class="card-img-top" alt="No profile picture">
    {% else %}
      <img src="{% static 'img/avatar_generic.png' %}" class="card-img-top" alt="No profile picture">
    {% endif %}
  </a>
  <div class="card-body">
    <a href="{{ member.get_absolute_url }}" class="text-reset"><h5 class="card-title">{{ member }}</h5></a>
    {% if member.birthday %}<h6 class="card-subtitle text-muted">{{ member.age }} years old</h6>{% endif %}
    {% if member.email %}
      <div class="container mt-2">
        <div class="row card-text d-inline-flex">
          <div class="col col-1">
            <span class="fa fa-envelope"></span>
          </div>
          <div class="col">
            <a href="mailto:{{ member.email }}" class="text-reset">{{ member.email }}</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% if member.phone_numbers.count %}
      <div class="container mt-2">
        {% for number in member.phone_numbers.all %}
          {% if number.published %}
            <div class="row card-text d-inline-flex">
              <div class="col col-1">
                {% if number.type == 'H' %}<span class="fa fa-home"></span>
                {% elif number.type == 'M' %}<span class="fa fa-mobile"></span>
                {% elif number.type == 'W' %}<span class="fa fa-briefcase"></span>
                {% else %}<span class="fa fa-phone"></span>
                {% endif %}
              </div>
              <div class="col">
                {{ number }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if member.addresses.count %}
      <div class="container mt-2">
        {% for address in member.addresses.all %}
          {% if address.published %}
            <div class="row card-text d-inline-flex">
              <div class="col col-1">
                {% if address.type == 'H' %}<span class="fas fa-home"></span>
                {% elif address.type == 'W' %}<span class="fa fa-building"></span>
                {% else %}<span class="fa fa-mail-bulk"></span>
                {% endif %}
              </div>
              <div class="col">
                {{ address.street }}<br>
                {% if address.street2 %}{{ address.street2 }}<br>{% endif %}
                {{ address.city }}, {{ address.state }} {{ address.zip_code }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if member.school %}
            <div class="container mt-2">
        <div class="row card-text d-inline-flex">
          <div class="col col-1">
            <span class="fa fa-school"></span>
          </div>
          <div class="col">
            <p>{{ member.school }}</p>
          </div>
        </div>
      </div>

    {% endif %}
    {% if member.den_assigned %}<img src="/static/img/den_{{ member.den_assigned.number }}_patch.jpg" class="card-img"
                                     alt="Den {{ member.den_assigned.number }} patch">{% endif %}
  </div>
  {% if member.scout.start_date %}
    <div class="card-footer text-center">
      <small class="text-muted">Member since {{ member.scout.start_date|date:'Y' }}</small>
    </div>
  {% endif %}
</div>
