{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Search Results{% endblock %}

{% block content %}
  {% include 'membership/snippets/member_search.html' %}
  <div class="container" id="member-list">
    {% if member_list %}
      <div class="list-group">
        {% for member in member_list %}
          <a class="list-group-item list-group-item-action" href="{{ member.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-lg-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' %}
              </div>
              <div class="col">
                <h4>{{ member }}</h4>
                {% if member.adult.role == 'C' %}<p><small class="text-muted">Friend of the Pack</small></p>{% endif %}
                {% if member.scout.current_den %}<p>
                  {% if member.scout.current_den.rank %}{{ member.scout.current_den.rank }} — {% endif %}<small>{{ member.scout.current_den }}</small>
                </p>{% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-light" role="alert">
        <p class="text-center">We could not find any members matching your search.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}