{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Members{% endblock %}

{% block content %}
  {% include 'membership/snippets/member_search.html' %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'member_list' %}">All Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'parent_list' %}">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'scout_list' %}">Cubs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dens_list' %}">Dens</a>
    </li>
  </ul>
  <div class="container" id="member-list">
    {% if member_list %}
      <div class="list-group">
        {% for member in member_list %}
          <a class="list-group-item list-group-item-action" href="{{ member.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-lg-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' %}
              </div>
              <div class="col">
                <h4>{{ member }}</h4>
                {% if member.adult.role == 'C' %}<p><small class="text-muted">Friend of the Pack</small></p>{% endif %}
                {% if member.scout.current_den %}<p>
                  {% if member.scout.current_den.rank %}{{ member.scout.current_den.rank }} — {% endif %}<small>{{ member.scout.current_den }}</small>
                </p>{% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-light" role="alert">
        <p class="text-center">
          The pack has no active members. It's time to invite some to
          <a href="{% url 'signup' %}" class="alert-link">join us</a></p>
      </div>
    {% endif %}
  </div>
{% endblock %}