{% extends '_base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Members</li>
    </ol>
  </nav>
  <h1>Members</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'member_list' %}">All Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'parent_list' %}">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'scout_list' %}">Cubs</a>
    </li>
  </ul>
  <div class="container" id="member-list">
    {% if member_list %}
      <ul class="list-unstyled">{% for member in member_list %}
        <li><a href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>{% endfor %}
      </ul>
    {% else %}
      <p>The pack has no active members</p>
    {% endif %}
  </div>
{% endblock %}