{% extends "_base.html" %}

{% block title %}{{ parent.full_name }}{% endblock title %}

{% block content %}
  <div class="row">
    <h1>{{ parent.full_name }}</h1>
    {% if user.profile == parent %}
      <a href="{% url 'parent_update' parent.id %}" class="badge badge-warning ml-3 my-auto p-2">
        <i class="fa fa-user-edit"></i>
      </a>
    {% endif %}
  </div>
  {% include 'membership/member_detail_card.html' with member=parent %}
  {% if parent.family %}
    <hr>
    <h2>Family</h2>
    <div class="card-group">
      {% for parent in parent.get_partners %}
        {% include 'membership/member_detail_card.html' with member=parent %}
      {% endfor %}
      {% for child in parent.family.children.all %}
        {% include 'membership/member_detail_card.html' with member=child %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}