{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ Parent.full_name }} - Update{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item"><a href="{% url 'parent_list' %}">Parents</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a Parent/Guardian</li>
    </ol>
  </nav>
  <h1>Update {{ parent.full_name }}</h1>
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-primary" href="{% url 'parent_detail' parent.id %}">Cancel</a>
  </form>
{% endblock content %}