{% extends "_base.html" %}

{% block title %}{{ parent.full_name }}{% endblock title %}

{% block content %}
  <h1>{{ parent.full_name }}
    {% if user == parent.account %}
      <a href="{% url 'parent_update' parent.id %}"> <span class="badge badge-secondary"><span class="fa fa-user-edit"></span></span></a>
    {% endif %}
  </h1>
  {% include 'membership/member_detail_card.html' with member=parent %}
  {% if parent.family %}
    <hr>
    <h2>Family</h2>
    <div class="card-group">
      {% for parent in parent.family.parents.filter %}
        {% include 'membership/member_detail_card.html' with member=parent %}
      {% endfor %}
      {% for child in parent.family.children.all %}
        {% include 'membership/member_detail_card.html' with member=child %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}