{% extends "_base.html" %}
{% load fontawesome %}

{% block title %}{{ parent.full_name }}{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ parent.full_name }}</li>
    </ol>
  </nav>
  <h1>{{ parent.full_name }}
    {% if user == parent.account %}
      <a href="{% url 'parent_update' parent.id %}"> {% fontawesome_icon 'edit' %}</a>
    {% endif %}
  </h1>
  {% include 'membership/member_detail_card.html' with member=parent %}
  {% if parent.children.count %}
    <hr>
    <h2>Child{{ parent.children.count|pluralize:'ren' }}</h2>
    <div class="card-deck">
      {% for child in parent.children.all %}
        <a href="{{ child.get_absolute_url }}">
          {% include 'membership/member_detail_card.html' with member=child %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}