{% extends '_base.html' %}

{% block title %}Parents{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">Parents</li>
    </ol>
  </nav>
  <h1>Parents</h1>
  {% if parent_list %}
    <ul>{% for parent in parent_list %}
      <li><a href="{{ parent.get_absolute_url }}">{{ parent.full_name }}</a></li>{% endfor %}
    </ul>
  {% else %}
    <p>The pack has no active parents</p>
  {% endif %}
{% endblock %}