{% extends "_base.html" %}
{% load fontawesome %}

{% block title %}{{ scout.full_name }}{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ scout.full_name }}</li>
    </ol>
  </nav>
  <h1>{{ scout.full_name }}{% if user.profile.parent in scout.parents.all %}
    <a href="{% url 'scout_update' scout.id %}">{% fontawesome_icon 'pencil' color='gray' %}</a>{% endif %}</h1>
  <p>{{ scout.age }} year{{ scout.age|pluralize }} old.</p>
  {% if scout.parents.count %}
    <h2>Parents</h2>
    <ul>
      {% for parent in scout.parents.all %}
        <li><a href="{% url 'parent_detail' parent.id %}">{{ parent }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if scout.get_siblings.count %}
    <h2>Siblings</h2>
    <ul>
      {% for sibling in scout.get_siblings %}
        <li>{{ sibling }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}