{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ scout.full_name }} - Update{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item"><a href="{% url 'scout_list' %}">Scouts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nominate a Scout</li>
    </ol>
  </nav>
  <h1>Update {{ scout.full_name }}</h1>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-primary" href="{% url 'scout_detail' scout.get_absolute_url %}">Cancel</a>
  </form>
{% endblock content %}