{% extends "_base.html" %}

{% block title %}{{ scout.full_name }}{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ scout.full_name }}</li>
    </ol>
  </nav>
  <h1>{{ scout.full_name }}
    {% if user.profile.parent in scout.parents.all %}
      <a href="{% url 'scout_update' scout.id %}"> <span class="fa fa-user-edit"></span></a>
    {% endif %}
  </h1>
  {% include 'membership/member_detail_card.html' with member=scout %}
  {% if scout.parents.count %}
    <hr>
    <h2>Parent{{ scout.parents.count|pluralize }}</h2>
    <div class="card-group">
      {% for parent in scout.parents.all %}
        {% include 'membership/member_detail_card.html' with member=parent %}
      {% endfor %}
    </div>
  {% endif %}
  {% if scout.get_siblings.count %}
    <hr>
    <h2>Sibling{{ scout.get_siblings.count|pluralize }}</h2>
    <div class="card-group">
      {% for sibling in scout.get_siblings.all %}
        {% include 'membership/member_detail_card.html' with member=sibling %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}