{% extends "_base.html" %}

{% block title %}{{ member }}{% endblock title %}

{% block content %}
  <div class="container row">
    <h1>{{ member }}</h1>
  </div>
  {% include 'membership/snippets/member_detail_card.html' %}
  {% if member.family.children.count > 1 or member.family.adults.count %}
    <hr>
    <h2>Family</h2>
    <div class="card-group" id="family-card-group">
      {% for adult in member.family.adults.all %}
        {% include 'membership/snippets/member_detail_card.html' with member=adult %}
      {% endfor %}
      {% for sibling in member.get_siblings.all %}
        {% include 'membership/snippets/member_detail_card.html' with member=sibling %}
      {% endfor %}
    </div>
  {% endif %}
  {% if user.family == member.family %}
    <div class="btn-group mt-4 btn-group-lg" role="group" aria-label="Add Family Members">
      <a href="{% url 'parent_create' %}" class="btn btn-secondary">Add an adult<span class="ml-3 badge badge-light"><i class="fas fa-male"></i></span></a>
      <a href="{% url 'scout_create' %}" class="btn btn-secondary">Nominate a cub<span class="ml-3 badge badge-light"><i class="fas fa-child"></i></span></a>
    </div>
  {% endif %}
{% endblock %}