{% extends '_base.html' %}
{% load static %}

{% block title %}Members - Cubs{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Members</li>
    </ol>
  </nav>
  <h1>Members</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'member_list' %}">All Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'parent_list' %}">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'scout_list' %}">Cubs</a>
    </li>
  </ul>
  <div class="container" id="member-list">
    {% if scout_list %}
      <ul class="list-unstyled">
        {% for scout in scout_list %}
          <li>
            <a href="{{ scout.get_absolute_url }}">
              <div class="row align-items-center">
                <div class="col-sm-2">
                  {% if scout.headshot %}
                    <img src="{{ scout.headshot.image.thumbnail.75x75 }}" class="img-thumbnail"
                         alt="{{ scout }}'s profile picture">
                  {% else %}
                    <img src="{% static 'img/avatar_cub.png' %}" class="img-thumbnail" alt="No profile picture">
                  {% endif %}
                </div>
                <div class="col-sm-10"><h4>{{ scout.full_name }}</h4></div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-light" role="alert">
        <p>The pack has no active members. It's time to invite some to <a href="{% url 'account_signup' %}"
                                                                          class="alert-link">join us</a></p>
      </div>
    {% endif %}
  </div>
{% endblock %}