{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Nominate a scout{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item"><a href="{% url 'scout_list' %}">Scouts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nominate a Scout</li>
    </ol>
  </nav>
  <h1>Nominate a Scout</h1>
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Nominate Scout</button>
  </form>
{% endblock content %}