{% extends "_base.html" %}

{% block title %}{{ scout.full_name }}{% endblock title %}

{% block content %}
  <h1>{{ scout.full_name }}
  </h1>
  {% include 'membership/member_detail_card.html' with member=scout %}
  {% if scout.family %}
    <hr>
    <h2>Family</h2>
    <div class="card-group">
      {% for parent in scout.family.parents.all %}
        {% include 'membership/member_detail_card.html' with member=parent %}
      {% endfor %}
      {% for sibling in scout.get_siblings.all %}
        {% include 'membership/member_detail_card.html' with member=sibling %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}