{% extends '_base.html' %}

{% block title %}Scouts{% endblock %}

{% block content %}<h2>Cubs</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'member_list' %}">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">Scouts</li>
    </ol>
  </nav>
  {% if scout_list %}
    <ul>{% for scout in scout_list %}
      <li><a href="{{ scout.get_absolute_url }}">{{ scout.full_name }}</a></li>{% endfor %}
    </ul>
  {% else %}
    <p>The pack has no active scouts</p>
  {% endif %}
{% endblock %}