{% extends '_base.html' %}

{% block title %}{{ block.super }}: Committees{% endblock title %}

{% block content %}
  <div class="container row">
    <h1>Committees</h1>
  </div>
  <div class="container" id="committee-list">
    {% if committee_list %}
      <div class="list-group">
        {% for committee in committee_list %}
          <a class="list-group-item list-group-item-action" href="{{ committee.get_absolute_url }}">
            <div class="d-flex w-100 justify-content-between">
              <h2>{{ committee }}</h2>
              {% if committee.leadership %}<span class="text-warning"><i class="fas fa-star fa-2x"></i></span>{% endif %}
            </div>
            {% if committee.description %}{{ committee.description|linebreaks }}{% endif %}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-light" role="alert">No committees have been defined yet</div>
    {% endif %}
  </div>
{% endblock %}
