{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}
  <div class="text-center">
    <h1>Please sign in</h1>{% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has
      access.</p>{% endif %}
    <form method="post" class="form-signin">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-success btn-block">Log In</button>
    </form>
    <p class="text-muted text-centered small">
      <a href="{% url 'account_reset_password' %}">Forgot your password</a> |
      <a href="{% url 'account_signup' %}">Not yet a member</a>
    </p>
  </div>
{% endblock %}