{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <div class="text-center">
    <h1>Change Password</h1>
    <form method="post" action="{% url 'account_change_password' %}" class="form password_change">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success btn-block">Change my password</button>
    </form>
  </div>
{% endblock %}