{% load static thumbnail %}
{% load humanize %}

<div class="card shadow-sm member-detail">
  <a href="{{ member.get_absolute_url }}">
    {% include 'membership/snippets/headshot_snippet.html' %}
  </a>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <a href="{{ member.get_absolute_url }}" class="text-reset">
        <h5 class="card-title">
          {{ member }}
          {% if member.current_den.rank %}
            <small class="ml-3 text-muted">{{ member.current_den.rank }}</small>
          {% endif %}
        </h5>
      </a>
      {% if user.family == member.family %}
        {% if member.adult %}
          <a href="{% url 'parent_update' member.uuid %}" class="badge badge-dark ml-3 p-2">
        {% else %}
          <a href="{% url 'scout_update' member.uuid %}" class="badge badge-dark ml-3 p-2">
        {% endif %}
      <i class="fa fa-user-edit"></i>
      </a>
      {% endif %}
    </div>
    {% if member.is_published %}
      <div class="container mt-2">
        <div class="row card-text d-inline-flex">
          <div class="col col-1">
            <abbr title="email"><span class="fa fa-envelope"></span></abbr>
          </div>
          <address class="col text-truncate">
            <a href="mailto:{{ member.email }}" class="text-reset">{{ member.email }}</a>
          </address>
        </div>
      </div>
    {% endif %}
    {% if member.phone_numbers.count %}
      <div class="container mt-2">
        {% for number in member.phone_numbers.all %}
          {% if number.published %}
            <div class="row card-text d-inline-flex">
              <div class="col col-1">
                {% if number.type == 'H' %}
                  <abbr title="Home"><span class="fa fa-home"></span></abbr>
                {% elif number.type == 'M' %}
                  <abbr title="Mobile"><span class="fa fa-mobile"></span></abbr>
                {% elif number.type == 'W' %}
                  <abbr title="Work"><span class="fa fa-briefcase"></span></abbr>
                {% else %}
                  <abbr title="Phone"><span class="fa fa-phone"></span></abbr>
                {% endif %}
              </div>
              <address class="col text-truncate">
                {{ number }}
              </address>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if member.addresses.count %}
      <div class="container mt-2">
        {% for address in member.addresses.all %}
          {% if address.published %}
            <div class="row card-text d-inline-flex">
              <div class="col col-1">
                {% if address.type == 'H' %}
                  <abbr title="Home"><span class="fas fa-home"></span></abbr>
                {% elif address.type == 'W' %}
                  <abbr title="Work"><span class="fa fa-building"></span></abbr>
                {% else %}
                  <abbr title="address"><span class="fa fa-mail-bulk"></span></abbr>
                {% endif %}
              </div>
              <address class="col text-truncate">
                {{ address.street }}<br>
                {% if address.street2 %}{{ address.street2 }}<br>{% endif %}
                {{ address.city }}, {{ address.state }} {{ address.zip_code }}
              </address>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if member.date_of_birth %}
      <div class="container mt-2">
        <div class="row card-text d-inline-flex">
          <div class="col col-1"><span class="fa fa-birthday-cake"></span></div>
          <div class="col text-truncate">{{ member.age }} years old</div>
        </div>
      </div>
    {% endif %}
    {% if member.school and member.status == 4 %}
      <div class="container mt-2">
        <div class="row card-text d-inline-flex">
          <div class="col col-1"><span class="fa fa-school"></span></div>
          <div class="col text-truncate">
            {% if member.grade > 0 %}
              {{ member.grade }}<sup>{{ member.grade|ordinal|slice:'-2:' }}</sup> grade
            {% elif member.grade == 'K' %}
              Kindergarten
            {% endif %}
            <br>
            {{ member.school }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if member.current_den %}
      <a href="{{ member.current_den.get_absolute_url }}">
        <img src="{{ member.current_den.patch }}" alt="Den {{ member.current_den.number }} patch" class="mt-2 card-img rounded">
      </a>
    {% endif %}
  </div>
  {% if member.scout.start_date %}
    <div class="card-footer text-center">
      <small class="text-muted">Member since {{ member.scout.start_date|date:'Y' }}</small>
    </div>
  {% endif %}
</div>
