<div class="row align-items-center">
  <div class="col">
    <h1>Members</h1>
  </div>
  <div class="col">
    <form class="form-inline ml-auto" action="{% url 'member_search_results' %}" method="get">
      <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
