<div class="col-md">
  <form class="form" action="{% url 'membership:search_results' %}" method="get" id="memberSearchForm">
    <div class="input-group">
      <input name="q" type="search" class="form-control border-light" id="memberSearch" placeholder="Search"{% if request.GET.q %} value="{{ request.GET.q }}"{% endif %} aria-label="Search">
      <div class="input-group-append">
        <button type="submit" class="btn btn-light"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="form-check form-control-sm text-right">
      <input class="form-check-input" type="checkbox" aria-label="Checkbox for following text input" id="alumCheckbox" name="alum" {% if request.GET.alum %} checked{% endif %} value="included">
      <label class="form-check-label text-muted" for="alumCheckbox">include alumni</label>
    </div>
  </form>
</div>
