# Sample .env file for packman project. Copy this file to .env in the
# BASE_ROOT directory of your project and configure for your specific
# settings.
#
# Alternatively, set the variables in your local environment

DJANGO_READ_DOT_ENV_FILE=true

# PACK SPECIFIC
# ----------------------------------------------------
PACK_NAME="One Awesome Cub Scouts Pack"
PACK_SHORTNAME="Cub Pack"
PACK_DOMAIN_NAME="example.com"
PACK_LOCATION="United States of America"
PACK_TAGLINE="We're Awesome"
PACK_YEAR_BEGIN_MONTH=9
PACK_YEAR_BEGINS_DAY=1

# EMAIL
# ----------------------------------------------------
DJANGO_EMAIL_URL=consolemail://
# DJANGO_ADMINS=admin:admin@example.com,manager:manager@example.com
# DJANGO_DEFAULT_FROM_EMAIL=
# DJANGO_EMAIL_SUBJECT_PREFIX=

# CACHE
# -----------------------------------------------------
CACHE_URL=locmemcache://

# DATABASE
# -----------------------------------------------------
DATABASE_URL=sqlite:///db.sqlite3

# STATIC & MEDIA FILES
# -----------------------------------------------------
# DJANGO_STATIC_ROOT="/home/user/static/"
# DJANGO_MEDIA_ROOT="/home/user/media/"

# SECURITY
# ----------------------------------------------------
# DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_COOKIE_HTTPONLY=true
DJANGO_CSRF_COOKIE_SECURE=true
DJANGO_SECURE_BROWSER_XSS_FILTER=true
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=true
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=true
DJANGO_SECURE_HSTS_PRELOAD=true
DJANGO_SECURE_HSTS_SECONDS=60
DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_SESSION_COOKIE_HTTPONLY=true
DJANGO_SESSION_COOKIE_SECURE=true
