[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"
curlylint = "*"
black = "*"
flake8 = "*"
ipython = "*"
pre-commit = "*"

[packages]
django = {version = "~=3.2", extras = ["argon2"]}
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-localflavor = "*"
pillow = "*"
psycopg2-binary = "*"
pip = "*"
django-tempus-dominus = "*"
docutils = "*"
django-dynamic-formsets = "*"
django-ical = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-tinymce = "*"
django-environ = "*"
pymemcache = "*"
easy-thumbnails = "*"
whitenoise = {extras = ["brotli"], version = "*"}
uwsgi = "*"

[requires]
python_version = "3.9"
