[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
argon2-cffi = "*"
django = "*"
django-allauth = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-localflavor = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"
easy-thumbnails = "*"
psycopg2-binary = "*"
pip = "*"
django-tempus-dominus = "*"
python-memcached = "*"
docutils = "*"

[requires]
python_version = "3.7"
