-i https://pypi.org/simple
argon2-cffi==20.1.0
cffi==1.14.3
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-dynamic-formsets==0.0.8
django-environ==0.4.5
django-extensions==3.0.9
django-ical==1.7.1
django-localflavor==3.0.1
django-phonenumber-field==5.0.0
django-recurrence==1.10.3
django-tempus-dominus==5.1.2.13
django-tinymce==3.1.0
django==2.2.17
docutils==0.16
easy-thumbnails==2.7
icalendar==4.0.7; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
phonenumbers==8.12.12
pillow==8.0.1
psycopg2-binary==2.8.6
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-memcached==1.59
python-stdnum==1.14
pytz==2020.4
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlparse==0.4.1; python_version >= '3.5'
