-i https://pypi.org/simple
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
django-allauth==0.40.0
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-fontawesome==1.0
django-guardian==2.1.0
django-referrer-policy==1.0
django==2.2.6
idna==2.8
oauthlib==3.1.0
python3-openid==3.1.0
pytz==2019.3
pyyaml==5.1.2
requests-oauthlib==1.2.0
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.6
