{% extends "_base_wo_nav.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>Please Sign In</h2>
    </div>
    <div class="card-body">
      <form method="POST" class="form form-signin">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success btn-block" type="submit" value="Login">
      </form>
    </div>
    <div class="card-footer text-center">
      <p class="text-muted text-centered small">
        <a href="{% url 'password_reset' %}">Forgot your password</a> |
        <a href="{% url 'signup' %}">Not yet a member</a>
      </p>
    </div>
  </div>
{% endblock %}