{% extends "_base.html" %}
{% load bootstrap4 %}
{% block title %}Password Reset{% endblock title %}
{% block content %}
  {% if validlink %}
    <h1>Password Reset</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">{% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_messages %}
      <button type="submit" class="btn btn-success">Change my password</button>
    </form>
  {% else %}
    <h1>Invalid Link</h1>
    <div class="alert alert-light" role="alert">The password reset link was invalid, possibly because it has already
      been used. Please request a new password reset.
    </div>
  {% endif %}
{% endblock %}