{% extends "_base.html" %}
{% load bootstrap4 %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
  </nav>
  <div class="text-center">
    <h1>Forgot Your Password?</h1>
    <p>Have you forgotten what your password was? Don't worry. Enter the e-mail address you use to log onto our website
      and we will send you a link that you can use to reset it.</p>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_messages %}
      <button type="submit" class="btn btn-primary">Reset my password</button>
    </form>
  </div>
{% endblock %}