{% extends "_base_wo_nav.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    <p><strong class="text-danger">{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
  {% else %}
    <p>{% trans "Forgotten your password? Not to worry. We've got you covered. Give us the email address you use to login and we'll send you a message with instructions on how to reset it." %}</p>

    <form method="POST" action="{% url 'password_reset' %}" class="password_reset">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-block btn-warning" type="submit" value="{% trans 'Reset My Password' %}"/>
    </form>

  {% endif %}

{% endblock %}