{% extends "_base.html" %}
{% load bootstrap4 %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <div class="text-center">
    <h1>Change Password</h1>
    <form method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_messages %}
      <button type="submit" class="btn btn-success btn-block">Change my password</button>
    </form>
  </div>
{% endblock %}