{% extends "_base_wo_nav.html" %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>Password change successful</h2>
    </div>
    <div class="card-body">
      <p>Your password has been changed.</p>
    </div>
  </div>
{% endblock %}