{% extends "_base_wo_nav.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>Password Change</h2>
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'password_change' %}" class="form password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success btn-block" type="submit" value="Change my password">
      </form>
    </div>
  </div>
{% endblock %}