{% extends "_base_wo_nav.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <div class="alert alert-danger"><p>{% trans "Note" %}:</strong>
      {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p></div>
  {% else %}
    <div class="card mt-5">
      <div class="card-header text-center">
        <h2>{% trans "Password Reset" %}</h2>
      </div>
      <div class="card-body">
        <p>{% trans "Forgotten your password? Not to worry. We've got you covered. Give us the email address you use to login and we'll send you a message with instructions on how to reset it." %}</p>
        <form method="POST" action="{% url 'password_reset' %}" class="form password_reset">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-block btn-warning" type="submit" value="{% trans 'Reset My Password' %}"/>
        </form>
      </div>
    </div>
  {% endif %}

{% endblock %}