{% extends "_base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
  </nav>
  <div class="text-center">
    <h1>Password Reset</h1>
    <p>If an account exists with the email you entered, we've emailed you instructions for setting your password.
      You should receive them shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
      your spam folder.</p>
  </div>
{% endblock %}