{% extends "_base_wo_nav.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>{% trans "Password Reset" %}</h2>
    </div>
    <div class="card-body">
      {% if user.is_authenticated %}
        <div class="alert alert-danger"><strong>{% trans "Note" %}:</strong>
          {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}
        </div>
      {% endif %}
      <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
        minutes.{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}