{% extends "_base_wo_nav.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>{% trans "Reset Password" %}</h2>
    </div>
    <div class="card-body">
      <p>{% trans "Your password is now reset." %}</p>
      <a class="btn btn-success" href="{% url 'login' %}">Login</a>
    </div>
  </div>
{% endblock %}