{% extends "_base_wo_nav.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block content %}
  <div class="card mt-5">
    <div class="card-header text-center">
      <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h2>
    </div>
    <div class="card-body">
      {% if token_fail %}
        {% url 'password_reset' as passwd_reset_url %}
        <p>
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a
            <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
        {% if form %}
          <form method="POST" action="{{ action_url }}" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success btn-block" type="submit" name="action" value="{% trans 'reset password' %}"/>
          </form>
        {% else %}
          <p>{% trans 'Your password is now reset.' %}</p> <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}