{% extends '_base.html' %}

{% block title %}{{ block.super }}: Previous Events{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Previous Events</h1>

    <div class="dropdown">
      <button class="btn btn-lg btn-danger dropdown-toggle" type="button" id="calendarFeedSubscribeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-calendar-alt"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="calendarFeedSubscribeButton">
        <a class="dropdown-item" href="webcal://{{ request.META.HTTP_HOST }}{% url 'calendars:feed' user.family.uuid %}">Subscribe to this calendar</a>
        <button class="dropdown-item" href="{% url 'calendars:feed' user.family.uuid %}" id="ical-link">Copy link to this calendar</button>
      </div>
    </div>
  </div>
  {% if events %}
    <div class="mt-5">
      {% include 'calendars/events_list_snippet.html' %}
    </div>
    {% if is_paginated %}
      {% include 'pagination.html' %}
    {% endif %}
  {% else %}
    <div class="alert alert-secondary" role="alert">
      <p>The pack has no previously scheduled events.</p>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  {{ block.super }}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>


  <script type="text/javascript">
    function copy() {
      var textArea = document.createElement("textarea");
      textArea.value = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'calendars:feed' user.family.uuid %}";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }

      document.body.removeChild(textArea);
    }

    document.querySelector("#ical-link").addEventListener("click", copy);
  </script>
{% endblock %}
