{% extends "base.html" %}

{% load humanize crispy_forms_tags static %}

{% block title %}{{ event }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  {{ form.media }}
{% endblock js %}
