{% extends "base.html" %}

{% load crispy_forms_filters crispy_forms_tags static %}

{% block title %}
  {{ block.super }}:
  {% if member %}
    {{ member }} - Update
  {% else %}
    Nominate a Cub
  {% endif %}
{% endblock title %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <div class="container row">
      <div class="col-md-3" id="headshot">
        {% include 'membership/snippets/headshot.html' with scout="True" %}
        {{ form.photo|as_crispy_field }}
      </div>
      <div class="col-md-9" id="profile">
        <h1>
          {% if member %}
            Update {{ member.get_short_name }}'s Details
          {% else %}
            Nominate a Cub
          {% endif %}
        </h1>
        {% crispy form %}
      </div>
    </div>
  </form>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    let startedSchoolInput = document.getElementById("id_started_school")
    let schoolGradeText = startedSchoolInput.nextElementSibling

    window.addEventListener("load", (event) => {
      updateGradeDisplay(startedSchoolInput.value)
    });

    startedSchoolInput.addEventListener("change", (event) => {
      updateGradeDisplay(event.target.value)
    });

    function updateGradeDisplay(yearStartedSchool) {
      let now = new Date();
      let gradeString = '';

      if (now.getMonth() < 7) {
        yearStartedSchool++
      }

      let grade = now.getFullYear() - yearStartedSchool;

      if (grade < 0) {
        gradeString = 'Not in school'
      } else if (grade === 0) {
        gradeString = 'Kindergarten'
      } else if (grade === 1) {
        gradeString = `${grade}<sup>st</sup> grade`
      } else if (grade === 2) {
        gradeString = `${grade}<sup>nd</sup> grade`
      } else if (grade === 3) {
        gradeString = `${grade}<sup>rd</sup> grade`
      } else if (grade <= 12) {
        gradeString = `${grade}<sup>th</sup> grade`
      } else gradeString = ''

      schoolGradeText.innerHTML = gradeString
    }
  </script>
{% endblock js %}
