:root {
    color-scheme: light dark;

    /* BSA Primary Colors */
    --scouting-red: #CE1126;
    --scouting-blue: #003F87;
    --scouting-tan: #D6CEBD;
    --scouting-warm-gray: #515354;
    --scouting-olive: #243E2C;
    --scouting-gold: #FDC116;

    /* BSA Secondary Colors */
    --scouting-pale-blue: #9AB3D5;
    --scouting-dark-blue: #036;
    --scouting-light-tan: #E9E9E4;
    --scouting-dark-tan: #AD9D7B;
    --scouting-pale-gray: #858787;
    --scouting-dark-gray: #232528;

    /* Preferred colors */
    --footer-background: var(--scouting-blue);
    --h2-color: var(--scouting-blue);
    --navbar-background: rgb(0 63 135 / 80%) /* scouting-blue as rgba */
}

@media (prefers-color-scheme: dark) {
    :root {
        --footer-background: var(--scouting-dark-blue);
        --h2-color: var(--scouting-pale-blue);
        --navbar-background: rgb(0 51 102 / 80%) /* scouting-dark-blue as rgba */
    }
}


@font-face {
    font-family: Cooper;
    font-style: normal;
    font-weight: 900;
    src: url('/static/webfonts/CooperBlackStd.woff2') format('woff2'),
         url('/static/webfonts/CooperBlackStd.woff') format('woff');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    color: var(--scouting-red);
}

h2 {
    color: var(--h2-color);
}

footer {
    margin-top: auto;
    background-color: var(--footer-background);
    color: var(--scouting-pale-blue);
}

.card.member-detail {
    max-width: 322px;
}

#banner {
    position: relative;
    z-index: 1020;
    background-image: url('/static/img/jumbotron.jpg');
    background-size: cover;
}

#den-patches {
    height: 80px;
}

#rank-patches {
    height: 80px;
}

/* stylelint-disable-next-line selector-id-pattern */
#contact-form #div_id_url {
    display: none;
}

.navbar {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: var(--navbar-background);
}

.prize-details{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 80%);
}

.navbar-brand {
    color: var(--scouting-light-tan);
    font-family: Cooper, serif;
    line-height: 1.1;
    text-shadow: 0 0 0.3rem var(--scouting-dark-gray);
}

.navbar-brand #pack-name {
    color: var(--scouting-gold);
    font-weight: bold;
    -webkit-text-stroke-color: var(--scouting-blue);
    -webkit-text-stroke-width: 1px;
}

.navbar-brand #pack-location, #pack-tagline {
    color: var(--scouting-light-tan);
}

.scroll-area {
    overflow-y: auto;
}

.cost-display {
    max-width: 114px;
    margin-left: 2rem;
}

#member-search-form #member-search {
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
}

#member-search-form button {
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
}

#mail-client {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

#mail-client #folder-sidebar {
    max-width: 240px;
}

#mail-client #message-list-column {
    flex-basis: 33%;
    flex-direction: column;
}

#message-detail-column {
    flex-basis: 66%;
    flex-direction: column;
}

.read-marker {
    flex: 0 0 1rem;
}

.resizer { width: 2px; height: 100%; background-color: #dee2e6;
    cursor: col-resize;
}

table.sortable {
    counter-reset: rowNumber;
}

table.sortable tr:not(:first-child) {
    counter-increment: rowNumber;
}

table.sortable tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table.sortable th[aria-sort="descending"] span::after {
    content: " ▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
    content: " ▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}
