@font-face {
    font-family: 'Cooper';
    src: url('/static/webfonts/CooperBlackStd.woff2') format('woff2'),
        url('/static/webfonts/CooperBlackStd.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

main {
    padding-top: 40px;
    padding-bottom: 100px;
}

#top-bar {
    background-color: rgba(24, 24, 24, 0.96);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); /* not yet supported */
}

#member-list {
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
}

#den-patches {
    height: 120px;
}

#rank-patches {
    height: 120px;
}

.form-signin {
    width: 100%;
    max-width: 352px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-group {
    margin-bottom: 0;
}

.form-signin .alert ul {
    list-style: none;
    padding-inline-start: 0px;
}

.form-signin #id_username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #id_password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#headshot {
    width: 80px;
    height: 80px;
}

.navbar-brand {
    font-family: 'Cooper', serif;
    line-height: .9em;
    text-shadow: 0 0 16px #000000;
}

.navbar-brand #pack-name {
    color: #f1bb41;
    font-weight: bold;
}

.navbar-brand #pack-location, #pack-tagline {
    color: snow;
}

.jumbotron {
    background-image: url('/static/img/jumbotron.jpg');
    background-size: cover;
    margin-bottom: 0;
}

.card.member-detail {
    max-width: 20rem;
}

#member-search .form-control {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

h1, h2, h3 {
    color: #fa9428;
    font-family: 'Cooper', serif;
    text-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

footer {
    padding: 1rem;
    color: #cfcfcf;
    text-align: center;
    font-style: italic;
    font-size: x-small;
}