{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ den }}{% endblock %}

{% block content %}
    <div class="container p-3 bg-white rounded d-none d-sm-flex justify-content-between align-items-center"
         id="den-patches">
      {% if den.patch %}
        <img src="{{ den.patch.url }}" alt="Den {{ den.number }} patch" class="img-fluid h-100 rounded">
      {% else %}
        <h1>{{ den }}</h1>
      {% endif %}
      {% if den.rank.patch %}
        <img src="{{ den.rank.patch.url }}" alt="{{ den.rank }} patch" class="img-fluid h-100 rounded">
      {% elif den.rank %}
        <h4 class="text-primary">{{ den.rank }} Den</h4>
      {% endif %}
    </div>
    <div class="container bg-white rounded d-flex d-sm-none justify-content-between align-items-center" id="den-id">
      <h1>{{ den }}</h1>
      <h4 class="text-primary">{{ den.rank }}</h4>
    </div>
  <h2 class="mt-3">Leader{{ den.leadership.count|pluralize }}</h2>
  {% if den.leadership.count %}
    <ul class="list-group">
      {% for leader in den.leadership.all %}
      <li class="list-group-item">
        <a href="{{ leader.get_absolute_url }}">
          <div class="row align-items-center">
            <div class="col-sm-2">
              {% if leader.photo %}
                <img src="{{ leader.photo|thumbnail_url:'thumbnail' }}" class="img-fluid rounded"
                     alt="{{ leader }}'s profile picture">
              {% elif leader.gender == 'M' %}
                <img src="{% static 'img/avatar_man.png' %}" class="img-fluid rounded" id="headshot"
                     alt="No profile picture">
              {% elif leader.gender == 'F' %}
                <img src="{% static 'img/avatar_woman.png' %}" class="img-fluid rounded" id="headshot"
                     alt="No profile picture">
              {% else %}
                <img src="{% static 'img/avatar_generic.png' %}" class="img-fluid rounded" id="headshot"
                     alt="No profile picture">
              {% endif %}
            </div>
            <div class="col-sm-10">{{ leader }}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-warning" role="alert">There are no leaders assigned to this den</div>
  {% endif %}
  <h2 class="mt-3">Cub{{ den.active_cubs.count|pluralize }}</h2>
  {% if den.active_cubs.count %}
    <ul class="list-group">
      {% for scout in den.active_cubs.all %}
        <li class="list-group-item">
          <a href="{{ scout.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-sm-2">
                {% if scout.photo %}
                  <img src="{{ scout.photo|thumbnail_url:'thumbnail' }}" class="img-fluid rounded"
                       alt="{{ scout }}'s profile picture">
                {% else %}
                  <img src="{% static 'img/avatar_cub.png' %}" class="img-fluid rounded" alt="No profile picture">
                {% endif %}
              </div>
              <div class="col-sm-10">{{ scout }}</div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-light" role="alert">This den has no members</div>
  {% endif %}
{% endblock %}