{% extends '_base.html' %}

{% block title %}Dens{% endblock title %}

{% block content %}
  {% include 'membership/snippets/member_search.html' %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'member_list' %}">All Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'parent_list' %}">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'scout_list' %}">Cubs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'dens_list' %}">Dens</a>
    </li>
  </ul>
  <div class="container" id="member-list">
    {% if den_list %}
      <div class="list-group">
        {% for den in den_list %}
          <a class="list-group-item list-group-item-action" href="{{ den.get_absolute_url }}">
            <div class="row d-flex w-100 justify-content-between align-items-center">
              <div class="col-lg" id="den-patches">
                {% if den.patch %}
                  <img src="{{ den.patch }}" alt="Den {{ den.number }} patch" class="img-fluid h-100 rounded mr-5">
                {% else %}
                  <h1>{{ den }}</h1>
                {% endif %}
              </div>
              <div class="col" id="rank-patches">
                {% if den.rank.patch %}
                  <img src="{{ den.rank.patch }}" alt="{{ den.rank }} patch" class="img-fluid h-100 rounded">
                {% elif den.rank %}
                  <h4 class="text-primary">{{ den.rank }} Den</h4>
                {% endif %}
              </div>
              <div class="col-md-1">
                <span class="badge badge-pill badge-warning p-3"><i class="fa fa-user mr-2"></i>{{ den.active_cubs.count }}</span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-light" role="alert">No dens have been defined yet</div>
    {% endif %}
  </div>
{% endblock %}