{% extends '_base.html' %}

{% block title %}Dens{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dens</li>
    </ol>
  </nav>

  <h1>Dens</h1>
  <div class="container" id="den-list">
  {% if den_list %}
    <ul class="list-group">
      {% for den in den_list %}
        <li class="list-group-item">
          <a href="{{ den.get_absolute_url }}">
            <div class="font-weight-bold d-flex justify-content-between align-items-center">{{ den }}
              <span class="badge badge-primary badge-pill">{{ den.scouts.count }}</span></div>
            <div>{{ den.get_rank_display }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-light" role="alert">No dens have been defined yet</div>
  {% endif %}
  </div>
{% endblock %}