{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ den }}{% endblock %}

{% block content %}
    <div class="container p-3 bg-white rounded d-none d-sm-flex justify-content-between align-items-center" id="den-patches">
      {% if den.patch %}
        <img src="{{ den.patch }}" alt="Den {{ den.number }} patch" class="img-fluid h-100 rounded">
      {% else %}
        <h1>{{ den }}</h1>
      {% endif %}
      {% if den.rank.patch %}
        <img src="{{ den.rank.patch }}" alt="{{ den.rank }} patch" class="img-fluid h-100 rounded">
      {% elif den.rank %}
        <h4 class="text-primary">{{ den.rank }} Den</h4>
      {% endif %}
    </div>
    <div class="container bg-white rounded d-flex d-sm-none justify-content-between align-items-center" id="den-id">
      <h1>{{ den }}</h1>
      <h4 class="text-primary">{{ den.rank }}</h4>
    </div>
  <h2 class="mt-5">Cub{{ den.active_cubs.count|pluralize }}</h2>
  {% if den.active_cubs.count %}
    <div class="list-group">
      {% for scout in den.active_cubs.all %}
          <a class="list-group-item list-group-item-action" href="{{ scout.scout.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-sm-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' with member=scout.scout %}
              </div>
              <div class="col-sm-10">{{ scout.scout }}</div>
            </div>
          </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-light" role="alert">This den has no members</div>
  {% endif %}
  {% if leaders.count %}
  <h2 class="mt-5">Leader{{ leaders.count|pluralize }}</h2>
    <div class="list-group">
      {% for leader in leaders.all %}
        <a class="list-group-item list-group-item-action" href="{{ leader.member.get_absolute_url }}">
          <div class="row align-items-center">
            <div class="col-sm-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' with member=leader.member %}
            </div>
            <div class="col-sm-10">{{ leader.member }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}