{% extends 'base.html' %}

{% block title %}Dens{% endblock title %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dens</li>
        </ol>
    </nav>

    <h1>Dens</h1>
    {% if den_list %}
    <ul class="list-group">
    {% for den in den_list %}
        <li class="list-group-item">
            <a href="{{ den.get_absolute_url }}">{{ den }}</a>
            <p><small class="text-muted">{{ den.membership.count }} member{{ den.membership.count|pluralize }}</small></p>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <div class="alert alert-light" role="alert">No dens have been defined yet</div>
    {% endif %}
{% endblock main %}