{% extends '_base.html' %}

{% block title %}Polls{% endblock %}

{% block content %}
  {% if latest_question_list %}
    <div class="list-group">
    {% for question in latest_question_list %}
      <a class="list-group-item list-group-item-action" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
    {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info">
      <h4 class="alert-heading">No polls are available</h4>
    </div>
  {% endif %}
{% endblock content %}