{% extends '_base.html' %}

{% block title %}{{ question.question_text|truncatewords:5 }}{% endblock %}

{% block content %}
  <h1>{{ question.question_text }}</h1>

  <ul class="list-unstyled">
    {% for choice in question.choice_set.all %}
      <li>{{ choice.choice_text }} — {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
  </ul>
{% endblock content %}