{% extends "admin/base.html" %}

{% block title %}Administration{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ pack_name }} – Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
