{% extends '_base.html' %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">

    <h1>Upcoming Events</h1>
    <a href="webcal://{{ request.META.HTTP_HOST }}{% url 'event_feed' %}" class="btn btn-lg btn-danger" data-toggle="tooltip" title="Subscribe to this calendar"><i class="fas fa-calendar-alt"></i></a>
  </div>
  {% if event_list %}
    <div class="mt-5">
      {% include 'pack_calendar/events_list_snippet.html' %}
    </div>
  {% else %}
    <div class="alert alert-secondary" role="alert">
      <p>The pack has no scheduled events in the next 6 months</p>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  </script>{% endblock %}