{% load humanize %}
{% for event in event_list %}
  <a href="{% url 'event_detail' event.uuid %}"
     class="btn btn-block btn{% if not forloop.first or page_obj.number > 1 %}-outline{% endif %}{% if event.category.color %}-{{ event.category.color }}{% else %}-dark{% endif %} p-3">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-reset">
          {% if event.category.icon %}<span class="display-2">{{ event.category.icon|safe }}</span><br>{% endif %}{% if event.status == 'CANCELLED' %}<del>{{ event.name }}</del>{% else %}{{ event.name }}{% endif %}</h3>
      </div>
      <div class="col-md-8 text-left">
        <h5>{{ event.start|naturalday:'l, F jS'|capfirst }}
          {% if event.end and event.end|date != event.start|date %} &ndash;
            {{ event.end|naturalday:'F jS'|capfirst }}{% endif %}</h5>
        {% if event.start|time != 'midnight' %}
          <p class="font-weight-bold">
            {{ event.start|time:'g:i a' }}{% if event.end and event.end != event.start and event.end|time != '11:59 p.m.' %} &mdash;
              {{ event.end|time:'g:i a' }}{% endif %}</p>{% endif %}
        {% if event.get_location %}
          <p><strong>Where:</strong>
            {{ event.get_location }}{% if event.venue.address %}<br>{{ event.venue.address }}{% endif %}</p>
        {% endif %}
        {% if event.description %}<p>{{ event.plain_text_description|truncatewords_html:50 }}</p>{% endif %}
      </div>
    </div>
  </a>
{% endfor %}