{% extends "_base.html" %}
{% load humanize %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col">
      <h1>{% if event.status == 'CANCELLED' %}<del>{{ event.name }}</del>{% else %}{{ event.name }}{% endif %}</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <div class="card text-center d-none d-sm-block">
        <div class="card-header text-white bg-danger py-2">
          <h3 class="font-weight-bold d-none d-xl-block text-white">{{ event.start|date:'F' }}</h3>
        </div>
        <div class="card-body border-success py-4 bg-white">
          <h1 class="text-black-50">{{ event.start|date:'j' }}</h1>
        </div>
      </div>
    </div>
    <div class="col">
    <dl>
      <dt>Start</dt>
      <dd>{{ event.start|naturalday|capfirst }}, {{ event.start|time }}</dd>
      {% if event.end %}
        <dt>End</dt>
        <dd>{{ event.end }}</dd>
      {% endif %}
      <dt>Location</dt>
      <dd>
        {{ event.get_location }}
        {% if event.venue.address %}<br>{{ event.venue.address }}{% endif %}
      </dd>
      {% if event.description %}
        <dt>Description</dt>
        <dd>{{ event.description|safe }}</dd>
      {% endif %}
      {% if event.attachments.count %}
        <dt>Attachments</dt>
        <dd>
        <ul class="list-group">
          {% for attachment in event.attachments.all %}
            <a href="{{ attachment.file.url }}" target="_blank">
              <li class="list-group-item">{{ attachment }}</li>
            </a>
          {% endfor %}
        </ul>
        </dd>
      {% endif %}
    </dl>
    </div>
  </div>
{% endblock %}