{% load i18n %}
{% for content in page_content.content_blocks.all %}
    <section class="card shadow-sm mb-3">
      <div class="container p-5">
        {% if content.title %}<h2>{{ content.title }}</h2>{% endif %}
        {{ content.body|safe }}
      </div>
    </section>
{% empty %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label={% trans 'close' %}>
      <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
    </button>
    {% trans 'This page has no content yet. Here is some sample text to give you a feel for what this page will look like with content.' %}
  </div>
  <section class="card shadow-sm mb-3">
    <div class="container p-5">
      <h2>{% lorem 3 w random %}</h2>
      {% lorem 5 p random %}
    </div>
  </section>
{% endfor %}
