{% load i18n static thumbnail %}

{# djlint:off H006 #}
<img class="card-img-top"
     id="{{ member.slug }}_headshot"
     {% if member.photo %} src="{{ member.photo|thumbnail_url:'320x320' }}" {% elif member.scout %} src="{% static 'img/avatar_cub_320x320.png' %}" {% elif member.gender == member.MALE %} src="{% static 'img/avatar_man_320x320.png' %}" {% elif member.gender == member.FEMALE %} src="{% static 'img/avatar_woman_320x320.png' %}" {% else %} src="{% static 'img/avatar_generic_320x320.png' %}" {% endif %}
     alt="{% blocktranslate %} {{ member }}'s profile picture {% endblocktranslate %}">
