{% load i18n static thumbnail %}

{% blocktrans asvar alt_text %}{{ member }}'s profile picture{% endblocktrans %}

{% if member.photo %}
  <img src="{{ member.photo|thumbnail_url:'320x320' }}" class="card-img-top" id="{{ member.slug }}_headshot" alt="{{ alt_text }}">
{% elif member.scout %}
  <img src="{% static 'img/avatar_cub_320x320.png' %}" class="card-img-top" id="{{ member.slug }}_headshot" alt="{{ alt_text }}">
{% elif member.gender == member.MALE %}
  <img src="{% static 'img/avatar_man_320x320.png' %}" class="card-img-top" id="{{ member.slug }}_headshot" alt="{{ alt_text }}">
{% elif member.gender == member.FEMALE %}
  <img src="{% static 'img/avatar_woman_320x320.png' %}" class="card-img-top" id="{{ member.slug }}_headshot" alt="{{ alt_text }}">
{% else %}
  <img src="{% static 'img/avatar_generic_320x320.png' %}" class="card-img-top" id="{{ member.slug }}_headshot" alt="{{ alt_text }}">
{% endif %}
