<div class="col-md">
  <form class="form"
        action="{% url 'membership:search_results' %}"
        method="get"
        id="member-search-form">
    <div class="input-group">
      <input name="q"
             type="search"
             class="form-control border-light"
             id="member-search"
             placeholder="Search"
             {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}
             aria-label="Search">
      <button type="submit" class="btn btn-light">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="form-check form-control-sm text-right">
      <input class="form-check-input"
             type="checkbox"
             aria-label="Checkbox for following text input"
             id="alumCheckbox"
             name="alum"
             {% if request.GET.alum %}checked{% endif %}
             value="included">
      <label class="form-label text-muted" for="alumCheckbox">include alumni</label>
    </div>
  </form>
</div>
