{% load i18n %}

{% autoescape off %}
  {% blocktranslate %}
    Hi {{ user }},

    We are sending you this email because someone (we hope it was you) requested that the password for your
    {{ site_name }} account be reset. No changes have been made to your account yet. You can reset your password by
    clicking the link below or copying and pasting it directly into your browser.
  {% endblocktranslate %}
  {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  {% endblock reset_link %}

  {% blocktranslate %}
    If you did not request this password reset, you can either ignore this email or contact us directly.

    Best regards,
    Your {{ site_name }} Team
  {% endblocktranslate %}
{% endautoescape %}
