{% extends "base.html" %}

{% load crispy_forms_filters i18n static %}

{% block title %}
  {% if token_fail %}
    {% translate 'Bad Token' %}
  {% else %}
    {% translate 'Reset Password' %}
  {% endif %}
  | {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card border-0 shadow-sm mb-3">
        <div class="card-header text-center">
          <img src="{% static 'img/logo.png' %}"
               width="64"
               height="36"
               class="d-block d-sm-none mx-auto my-4 img-thumbnail"
               alt="{% translate 'Pack Logo' %}">
          <img src="{% static 'img/logo.png' %}"
               width="125"
               height="70"
               class="d-none d-sm-block mx-auto my-4 img-thumbnail"
               alt="{% translate 'Pack Logo' %}">
          <h3 class="card-subtitle text-body-secondary">
            {% if token_fail %}
              {% translate 'Bad Token' %}
            {% else %}
              {% translate 'Reset Password' %}
            {% endif %}
          </h3>
        </div>
        <div class="card-body">
          {% if token_fail %}
            {% url 'password_reset' as passwd_reset_url %}
            {% blocktranslate %}
              The password reset link was invalid, possibly because it has already been used.  Please
              request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktranslate %}
          {% else %}
            {% if form %}
              <form method="post" action="{{ action_url }}" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success w-100"
                       type="submit"
                       name="action"
                       value="{% translate 'Reset my password' %}" />
              </form>
            {% else %}
              <p>{% translate 'Your password has been reset. You can now sign in with your new password.' %}</p>
              <a class="btn btn-success w-100 mt-5" href="{% url 'login' %}">{% translate 'Sign In' %}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
