{% extends "base.html" %}

{% load i18n static %}

{% block title %}
  {% translate 'Reset Password' %} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card border-0 shadow-sm mb-3">
        <div class="card-header text-center">
          <img src="{% static 'img/logo.png' %}"
               width="64"
               height="36"
               class="d-block d-sm-none mx-auto my-4 img-thumbnail"
               alt="{% translate 'Pack Logo' %}">
          <img src="{% static 'img/logo.png' %}"
               width="125"
               height="70"
               class="d-none d-sm-block mx-auto my-4 img-thumbnail"
               alt="{% translate 'Pack Logo' %}">
          <h3 class="card-subtitle text-body-secondary">{% translate 'Reset Password' %}</h3>
        </div>
        <div class="card-body">
          <p>{% translate 'Your password has been reset.' %}</p>
          <a class="btn btn-success w-100 mt-5" href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
