{% extends "_base.html" %}

{% load crispy_forms_tags i18n static %}

{% block title %}{% translate 'Password Reset' %} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      {% if user.is_authenticated %}
        <div class="alert alert-danger">
          <strong>{% translate 'Note' %}:</strong>
          {% blocktranslate %}you are already logged in as {{ user }}.{% endblocktranslate %}
        </div>
      {% else %}
        <div class="card border-0 shadow-sm mb-3">
          <div class="card-header text-center">
            <img src="{% static 'img/logo.png' %}"
                 width="64"
                 height="36"
                 class="d-block d-sm-none mx-auto my-4 img-thumbnail"
                 alt="{% translate 'Pack Logo' %}">
            <img src="{% static 'img/logo.png' %}"
                 width="125"
                 height="70"
                 class="d-none d-sm-block mx-auto my-4 img-thumbnail"
                 alt="{% translate 'Pack Logo' %}">
            <h3 class="card-subtitle text-muted">{% translate 'Password Reset' %}</h3>
          </div>
          <div class="card-body">
            <p>
              {% blocktranslate %}
                Did you forgot your password? Not to worry, we've got you covered. Tell us what email
                address you used to login and we'll send you a message with instructions on how to reset your
                password.
              {% endblocktranslate %}
            </p>
            <form method="post"
                  action="{% url 'password_reset' %}"
                  class="form password_reset">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-block btn-warning mt-5"
                     type="submit"
                     value="{% translate 'Reset My Password' %}"/>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
