{% extends "base.html" %}

{% load crispy_forms_filters i18n static %}

{% block title %}Contact Us | {{ block.super }}{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      {% if page %}
        {{ page.title }}
      {% else %}
        {% translate 'Contact Us' %}
      {% endif %}
    </h1>
  </div>
  <form method="post" id="contact-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-outline-success" type="submit" value="Send Message">
  </form>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock js %}
