{% extends "base.html" %}

{% load i18n pages_tags static %}

{% block title %}
  {% translate 'Home' %} | {{ block.super }}
{% endblock title %}

{% block content %}
  <h1>{% translate "Welcome to Pack 144" %}</h1>
  {% if events %}
    <div class="mb-5">
      <h2>{% translate 'Coming Up' %}</h2>
      {% include 'calendars/snippets/events_list_entry.html' %}
    </div>
  {% endif %}
  {% inline_cms "cms-home" %}
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/show_tooltips.js' %}"></script>
{% endblock js %}
