{% extends "_base.html" %}

{% load crispy_forms_tags i18n static %}

{% block title %}
  {% if page %}
    {{ page.title }}
  {% else %}
    Sign Up
  {% endif %}
  | {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      {% if page %}
        {{ page.title }}
      {% else %}
        {% translate 'Sign Up' %}
      {% endif %}
    </h1>
    {% if perms.pages %}
      <div class="btn-group btn-group-sm">
        {% if perms.pages.add_page %}
          <a href="{% url 'pages:create' %}"
             class="btn btn-outline-secondary"
             data-toggle="tooltip"
             title="{% translate 'Add a new webpage' %}"><i class="far fa-plus-square"></i></a>
        {% endif %}
        {% if perms.pages.change_page %}
          <a href="{% url 'pages:update' page.pk %}"
             class="btn btn-outline-secondary"
             data-toggle="tooltip"
             title="{% translate 'Edit this page' %}"><i class="far fa-edit"></i></a>
        {% endif %}
        {% if perms.pages.delete_page and not page.page %}
          <a href="{% url 'pages:delete' page.pk %}"
             class="btn btn-outline-danger"
             data-toggle="tooltip"
             title="{% translate 'Delete this webpage' %}"><i class="far fa-minus-square"></i></a>
        {% endif %}
      </div>
    {% endif %}
    <button type="button"
            class="btn btn-sm btn-info"
            data-toggle="modal"
            data-target="#instructionsModal"
            title="{% translate 'Show form instructions' %}">
      <i class="fas fa-question-circle"></i>
    </button>
  </div>
  {% if user.is_authenticated %}
    <div class="alert alert-danger">
      <strong>{% translate 'Note' %}:</strong>
      {% blocktrans with user.get_absolute_url as family_url %}
        You are already logged in as {{ user }}. If you want to submit an application for a new Cub or add another
        family member, please visit your <a class="alert-link" href="{{ family_url }}">My Family</a> page.
      {% endblocktrans %}
    </div>
  {% else %}
    <div class="modal" id="instructionsModal" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          {% for content in page.content_blocks.all %}
            <div class="modal-header">
              <h2>{{ content.heading }}</h2>
              <button type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="{% translate 'Close' %}">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">{{ content.body|safe }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% blocktranslate %}
        <p class="lead">
          Start off by telling us a little bit about yourself and creating an account. Once you have successfully
          created
          your account and logged in to the website, you can add more family members and submit an application for your
          Cub Scout.
        </p>
      {% endblocktranslate %}
      {% csrf_token %}
      <fieldset class="mt-3" id="personal-details">
        {% crispy form %}
      </fieldset>
      <fieldset class="mt-5" id="{{ address_formset.prefix }}">
        <legend>
          Address{{ address_formset.total_form_count|pluralize:'es' }}
        </legend>
        {{ address_formset.management_form|crispy }}
        {% for form in address_formset.forms %}
          {% crispy form %}
        {% endfor %}
      </fieldset>
      <fieldset class="mt-5" id="{{ phonenumber_formset.prefix }}">
        <legend>
          Phone Number{{ phonenumber_formset.total_form_count|pluralize }}
        </legend>
        {{ phonenumber_formset.management_form|crispy }}
        {% for form in phonenumber_formset.forms %}
          {% crispy form %}
        {% endfor %}
      </fieldset>
      <div class="row justify-content-end mt-5">
        <input type="submit"
               value="{% translate 'Create my account' %}"
               class="btn btn-success btn-lg btn-block"/>
      </div>
    </form>
  {% endif %}
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    $(window).on('load', function () {
      $('#instructionsModal').modal('show');
    });

    $(function () {
      $('[data-toggle="modal"]').tooltip()
    })
  </script>
  <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('#{{ address_formset.prefix }}').formset({
      addCssClass: "btn btn-primary btn-sm",
      deleteCssClass: 'btn btn-danger align-self-start',
      formCssClass: 'address-dynamic-form',
      prefix: "{{ address_formset.prefix }}",
      uiText: {
        addPrompt: "<i class=\"fas fa-plus-circle mr-1\"></i> address",
        removePrompt: "<i class=\"fas fa-trash-alt\"></i>"
      },
    });
    $('#{{ phonenumber_formset.prefix }}').formset({
      addCssClass: "btn btn-primary btn-sm",
      deleteCssClass: 'btn btn-danger align-self-start',
      formCssClass: 'phonenumber-dynamic-form',
      prefix: "{{ phonenumber_formset.prefix }}",
      uiText: {
        addPrompt: "<i class=\"fas fa-plus-circle mr-1\"></i> phone number",
        removePrompt: "<i class=\"fas fa-trash-alt\"></i>"
      },
    });
  </script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock js %}
