{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ page_content.title }}{% endblock %}

{% block content %}
  <h1>Update {{ page_content.title }}</h1>
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-primary" href="{% url 'dynamic_page' page_content.slug %}">Cancel</a>
  </form>
{% endblock %}