{% extends '_base.html' %}

{% block title %}{% if page_content %}{{ page_content.title }}{% else %}Home{% endif %}{% endblock %}

{% block content %}
  <h1>{% if page_content %}{{ page_content.title }}{% else %}Home{% endif %}</h1>
  {% if event_list %}
    <div class="mt-5">
      <h3>Coming Up</h3>
      {% include 'pack_calendar/events_list_snippet.html' %}
    </div>
  {% endif %}
  {% include 'pages/page_content_snippet.html' %}
{% endblock %}