{% extends '_base.html' %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if page_content %}
    <p>{{ page_content.body|safe }}</p>
  {% else %}
    <div class="alert alert-warning" role="alert">This page has no content yet. Here is some sample text instead.</div>
    {% lorem 3 p %}
  {% endif %}
  {% if upcoming_events %}
    <h2>Upcoming Events</h2>
    <dl class="row">
      {% for event in upcoming_events %}
        <dt class="col-sm-4">{{ event.start.date|naturalday:'l, F j, Y'|capfirst }}</dt>
        <dd class="col-sm-8">
          <dl>
            <dt>{{ event.name }}</dt>
            <dd>
              <div><strong>Location:</strong> {{ event.location }}</div>
              {% if user.is_authenticated %}
                <div><strong>Start:</strong> {{ event.start.time|time:'g:i a' }}</div>
                <div><strong>End:</strong> {{ event.end.time|time:'g:i a' }}</div>
              {% endif %}
            </dd>
          </dl>
        </dd>
      {% endfor %}
    </dl>
  {% endif %}
{% endblock %}