{% extends '_base.html' %}
{% load crispy_forms_tags static %}

{% block title %}{% if page_content %}{{ page_content.title }}{% else %}Sign Up{% endif %}{% endblock %}

{% block content %}
  <h1>{% if page_content %}{{ page_content.title }}{% else %}Sign Up {% endif %}</h1>
  {% include 'pages/page_content_snippet.html' %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="mt-3" id="personal-details">
          {% crispy form %}
        </fieldset>
        <fieldset class="mt-5" id="{{ address_formset.prefix }}">
          <legend>Address{{ address_formset.total_form_count|pluralize:'es' }}</legend>
          {{ address_formset.management_form|crispy }}
          {% for form in address_formset.forms %}
            {% crispy form %}
          {% endfor %}
        </fieldset>
        <fieldset class="mt-5" id="{{ phonenumber_formset.prefix }}">
          <legend>Phone Number{{ phonenumber_formset.total_form_count|pluralize }}</legend>
          {{ phonenumber_formset.management_form|crispy }}
          {% for form in phonenumber_formset.forms %}
            {% crispy form %}
          {% endfor %}
        </fieldset>
        <div class="row justify-content-end mt-5">
          <input type="submit" value="Sign me up!" class="btn btn-success btn-lg btn-block"/>
        </div>
      </form>

{% endblock content %}

{% block js %}
  <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
      $('#{{ address_formset.prefix }}').formset({
          addCssClass: "btn btn-primary btn-sm",
          deleteCssClass: 'btn btn-danger align-self-start',
          formCssClass: 'address-dynamic-form',
          prefix: "{{ address_formset.prefix }}",
          uiText: {
              addPrompt: "<i class=\"fas fa-plus-circle mr-1\"></i> address",
              removePrompt: "<i class=\"fas fa-trash-alt\"></i>"
          },
      });
      $('#{{ phonenumber_formset.prefix }}').formset({
          addCssClass: "btn btn-primary btn-sm",
          deleteCssClass: 'btn btn-danger align-self-start',
          formCssClass: 'phonenumber-dynamic-form',
          prefix: "{{ phonenumber_formset.prefix }}",
          uiText: {
              addPrompt: "<i class=\"fas fa-plus-circle mr-1\"></i> phone number",
              removePrompt: "<i class=\"fas fa-trash-alt\"></i>"
          },
      });
  </script>
{% endblock js %}
