{% load humanize i18n %}
<div class="d-flex flex-column align-items-stretch bg-white vh-100" id="mailbox-message-list">
  <a href="{% url 'mail:create' %}" class="d-flex align-items-center justify-content-end flex-shrink-0 p-3 link-dark text-decoration-none">
    <i class="far fa-edit"></i>
  </a>
  <div class="list-group list-group-flush scrollarea">
    {% for message in message_list %}
      <a href="{% if mailbox == mailbox.DRAFTS %}{% url 'mail:update' message.pk %}{% else %}{{ message.get_absolute_url }}{% endif %}" class="list-group-item list-group-item-action py-3 lh-tight{% if message.pk == object.pk %} active{% endif %}">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>{% for dl in message.distribution_lists.all %}{{ dl }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>
          <small>{% firstof message.date_sent|naturalday message.last_updated|naturalday %}</small>
        </div>
        <strong>{{ message.subject }}</strong>
        <div class="mb-1 small">{{ message.get_plaintext_body|linebreaks|truncatewords:25 }}</div>
      </a>
    {% endfor %}
  </div>
  <div class="container text-right mt-auto">
    <small class="text-muted">
      {% blocktranslate count counter=message_list.count %}
        {{ counter }} message
        {% plural %}
        {{ counter }} messages
      {% endblocktranslate %}
    </small>
  </div>
</div>
