{% load humanize i18n %}
{% include 'mail/snippets/message_list_header.html' %}
<div class="list-group list-group-flush scrollarea" id="message-list">
  {% for message in message_list %}
    <a href="{% if mailbox == mailbox.DRAFTS %}{% url 'mail:update' message.pk %}{% else %}{{ message.get_absolute_url }}{% endif %}" class="list-group-item list-group-item-action py-3 lh-tight{% if message.pk == object.pk %} active{% endif %}">
      <div class="d-flex align-items-center justify-content-between">
        <strong>
          {% for dl in message.distribution_lists.all %}{{ dl }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>
        <small>{% firstof message.date_sent|naturalday message.last_updated|naturalday %}</small>
      </div>
      <strong>{{ message.subject }}</strong>
      <div class="mb-1 small">{{ message.get_plaintext_body|linebreaks|truncatewords:25 }}</div>
    </a>
  {% endfor %}
</div>
{% include 'mail/snippets/message_list_footer.html' %}
