{% extends "_base_wo_nav.html" %}

{% block title %}Client Error{% endblock title %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Client Error</h1>
    <p>Hmm…something went wrong on your end. Try starting over at <a href="{% url 'home_page' %}" class="alert-link">the homepage</a>.</p>
  </div>
{% endblock %}