{% extends "_base.html" %}

{% block title %}Permission Denied{% endblock title %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Members Only</h1>
    <p>You have reached a page that is reserved for our active members. You can either try to
      <a href="{% url 'login' %}" class="alert-link">login</a> with an account that has access or start over at
      the <a href="{% url 'home_page' %}" class="alert-link">homepage</a>.</p>
  </div>
{% endblock %}