{% extends "_base.html" %}

{% block title %}403 Forbidden{% endblock title %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">{{ title }} <span>(403)</span></h1>
    <p>{{ main }}</p>
    {% if no_referer %}
      <p>{{ no_referer1 }}</p>
      <p>{{ no_referer2 }}</p>
      <p>{{ no_referer3 }}</p>
    {% endif %}
    {% if no_cookie %}
      <p>{{ no_cookie1 }}</p>
      <p>{{ no_cookie2 }}</p>
    {% endif %}
  </div>
{% endblock %}