{% extends "_base.html" %}

{% block title %}Not Found{% endblock title %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Not Found</h1>
    <p>Hmm…we couldn't find what you were looking for. Try starting over at <a href="{% url 'home_page' %}"
                                                                               class="alert-link">the
      homepage</a>.</p>
  </div>
{% endblock %}