{% extends "_base_wo_nav.html" %}

{% block title %}Server Error{% endblock title %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Server Error</h1>
    <p>Hmm…something went wrong on our end. We track these errors automatically, but if the problem persists feel free
      to contact us. Try starting over at <a href="{% url 'home_page' %}" class="alert-link">the homepage</a>.</p>
  </div>
{% endblock %}