{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '@forevolve/bootstrap-dark/dist/css/bootstrap-dark.min.css' %}" media="screen and (prefers-color-scheme: dark)">
  <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/packman.css' %}">

  {% block css %}{% endblock %}
  <title>Pack 144: {% block title %}Hello World!{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#de2d2d">
  <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
  <meta name="apple-mobile-web-app-title" content="Pack 144">
  <meta name="application-name" content="Pack 144">
  <meta name="msapplication-TileColor" content="#5b5d8a">
  <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
  <meta name="theme-color" content="#5b5d8a">
</head>

<body class="d-flex flex-column h-100">
<header>
  <div class="jumbotron">
    <a class="navbar-brand" href="{% url 'home_page' %}">
      <div class="row align-items-center">
        <div class="col d-none d-sm-block">
          <img src="{% static 'img/logo.png' %}" width="125" height="70" class="d-inline align-top" alt="Pack Logo">
        </div>
        <div class="col d-block d-sm-none">
          <img src="{% static 'img/logo.png' %}" width="64" height="36" class="d-inline align-top" alt="Pack Logo">
        </div>
        <div class="col d-none d-sm-block">
          <div class="row" id="pack-name">{{ pack_name }}</div>
          <div class="row" id="pack-location">{{ pack_location }}</div>
          <div class="row" id="pack-tagline">{{ pack_tagline }}</div>
        </div>
      </div>
    </a>
  </div>
  {% block navbar %}
    <div class="navbar sticky-top navbar-expand-lg navbar-dark" id="top-bar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'home_page' %} active{% endif %}" href="{% url 'home_page' %}">Home</a>
          {% if user.is_authenticated %}
            <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'event_list' %} active{% endif %}" href="{% url 'event_list' %}">Calendar</a>
            <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'member_list' %} active{% endif %}" href="{% url 'member_list' %}">Members</a>
            <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'committees_list' %} active{% endif %}" href="{% url 'committees_list' %}">Committees</a>
            <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'document_list' %} active{% endif %}" href="{% url 'document_list' %}">Documents</a>
            {% for item in private_pages %}
              <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'dynamic_page' and request.resolver_match.kwargs.slug == item.slug %} active{% endif %}" href={% url 'dynamic_page' item.slug %}>{{ item }}</a>
            {% endfor %}
          {% endif %}
          {% for item in public_pages %}
            <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'dynamic_page' and request.resolver_match.kwargs.slug == item.slug %} active{% endif %}" href={% url 'dynamic_page' item.slug %}>{{ item }}</a>
          {% endfor %}
          <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'about_page' %} active{% endif %}" href="{% url 'about_page' %}">About Us</a>
          <a class="nav-item nav-link mr-lg-3{% if request.resolver_match.url_name == 'history_page' %} active{% endif %}" href="{% url 'history_page' %}">Our History</a>
        </div>
        <ul class="navbar-nav ml-auto">{% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarMemberDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              {{ user.get_short_name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarMemberDropdown">
              <a class="dropdown-item" href="{% url 'family_update' %}">My Family</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
              {% if user.is_staff %}<a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>{% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>{% else %}
          <li class="nav-item">
            <a class="nav-link mr-lg-3" href="{% url 'signup' %}">Join Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url 'login' %}?next={{ request.path }}">Sign in</a>
          </li>{% endif %}
        </ul>
      </div>
    </div>
  {% endblock navbar %}
</header>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        {% block content %}<h1>Hello World!</h1>{% endblock %}

        {% if is_paginated %}
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item d-block">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="far fa-arrow-alt-circle-left"><span class="sr-only">Next</span></i></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-disabled="true"><i class="far fa-arrow-alt-circle-left"></i></a></li>
            {% endif %}
            {% for page in paginator.page_range %}
              {% if page_obj.number == page %}
                <li class="page-item active">
                  <a class="page-link" href="#" aria-disabled="true">{{ page }} <span class="sr-only">(current)</span>
                    <span class="d-lg-none"> of {{ paginator.num_pages }}</span>
                  </a></li>
              {% else %}
                <li class="page-item d-none d-lg-block"><a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link"><i class="far fa-arrow-alt-circle-right"><span class="sr-only">Next</span></i></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-disabled="true"><i class="far fa-arrow-alt-circle-right"></i></a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <p>A scout is trustworthy, loyal, helpful, friendly, courteous, kind, obedient, cheerful, thrifty, brave, clean, and reverent.</p>
  </div>
</footer>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>