{% extends "_base.html" %}
{% load bootstrap4 %}

{% block title %}Join Us{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Join Us</li>
    </ol>
  </nav>
  <h1>Join Us</h1>
  <p>So you want to sign your cub up to join the pack? Welcome! Let's start off by creating an account for you.</p>
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_messages %}
    <button type="submit" class="btn btn-success">Join Us</button>
  </form>
{% endblock content %}