{% extends "base.html" %}

{% load i18n humanize %}

{% block body_extra_class %}vh-100{% endblock body_extra_class %}

{% block supercontent %}
  <div id="mail-client">
    <div class="d-flex flex-grow-1 justify-content-center overflow-hidden">
      {% include "mail/partials/folder_sidebar.html" %}
      {% if mailbox %}
        <!--  Begin message list  -------------------------------------------------->
        <div class="{% if view.template_name == 'mail/message_list.html' %}
                      d-flex
                    {% else %}
                      d-none d-lg-flex
                    {% endif %}
                    flex-grow-1 overflow-hidden"
             id="message-list-column">
          {% if mailbox in mailbox.outbound %}
            {% include 'mail/snippets/outbound_message_list.html' %}
          {% else %}
            {% include 'mail/snippets/inbound_message_list.html' %}
          {% endif %}
        </div>
        <!--  End message list  ---------------------------------------------------->

        <div class="resizer" id="dragMe"></div>
      {% endif %}
      <!--  Begin message detail  ------------------------------------------------>
      <main class="border-left
                   {% if view.template_name != 'mail/message_list.html' %}
                     d-flex
                   {% else %}
                     d-none d-lg-flex
                   {% endif %}
                   flex-grow-1 overflow-hidden"
            id="message-detail-column">
        {% block message_detail %}
          <div class="d-flex flex-column align-items-center justify-content-center text-light h-100">
            <span class="display-1"><i class="fa-regular fa-envelope"></i></span>
            <p>
              No Message Selected
            </p>
          </div>
        {% endblock message_detail %}

      </main>
      <!--  End message detail  -------------------------------------------------->
    </div>
  </div>
{% endblock supercontent %}

{% block footer %}{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    /* Enable tooltips on this page */
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    /* Allow the message list and body to be resized */
            document.addEventListener('DOMContentLoaded', function () {
                // Query the element
                const resizer = document.getElementById('dragMe');
                const leftSide = resizer.previousElementSibling;
                const rightSide = resizer.nextElementSibling;

                // The current position of mouse
                let x = 0;
                let leftWidth = 0;

                // Handle the mousedown event
                // that's triggered when user drags the resizer
                const mouseDownHandler = function (e) {
                    // Get the current mouse position
                    x = e.clientX;
                    leftWidth = leftSide.getBoundingClientRect().width;

                    // Attach the listeners to `document`
                    document.addEventListener('mousemove', mouseMoveHandler);
                    document.addEventListener('mouseup', mouseUpHandler);
                };

                const mouseMoveHandler = function (e) {
                    // How far the mouse has been moved
                    const dx = e.clientX - x;

                    const newLeftWidth = ((leftWidth + dx) * 100) / resizer.parentNode.getBoundingClientRect().width;
                    leftSide.style.flexBasis = `${newLeftWidth}%`;

                    resizer.style.cursor = 'col-resize';
                    document.body.style.cursor = 'col-resize';

                    leftSide.style.userSelect = 'none';
                    leftSide.style.pointerEvents = 'none';

                    rightSide.style.userSelect = 'none';
                    rightSide.style.pointerEvents = 'none';
                };

                const mouseUpHandler = function () {
                    resizer.style.removeProperty('cursor');
                    document.body.style.removeProperty('cursor');

                    leftSide.style.removeProperty('user-select');
                    leftSide.style.removeProperty('pointer-events');

                    rightSide.style.removeProperty('user-select');
                    rightSide.style.removeProperty('pointer-events');

                    // Remove the handlers of `mousemove` and `mouseup`
                    document.removeEventListener('mousemove', mouseMoveHandler);
                    document.removeEventListener('mouseup', mouseUpHandler);
                };

                // Attach the handler
                resizer.addEventListener('mousedown', mouseDownHandler);
            });
  </script>
{% endblock js %}
