{% extends 'mail/base.html' %}

{% load humanize i18n %}

{% block title %}{{ message.subject }} | {{ block.super }}{% endblock %}

{% block message_detail %}
  <div class="d-flex flex-column h-100" id="message-detail">
    <div class="d-flex align-items-center border-bottom" id="message-header">
      <div class="d-flex flex-column" id="message-author">
        <a href="{{ message.author.get_absolute_url }}">
          {% include 'membership/snippets/headshot_thumbnail.html' with member=message.author %}
        </a>
      </div>
      <div class="d-flex flex-column flex-grow-1 p-3" id="message-metadata">
        <div class="d-flex align-items-center justify-content-between">
          <a href="{{ message.author.get_absolute_url }}" class="h6 mb-0">{{ message.author }}</a>
          <div class="text-right">
            <small class="text-muted">{% firstof message.receipt.0.date_received|naturalday message.date_sent|naturalday %}</small>
          </div>
        </div>
        <div class="d-flex" id="to-line">
          {% for recipient in message.get_recipients %}
            {% ifchanged recipient.0 %}<small class="text-secondary">{{ recipient.0|title }}:</small>{% endifchanged %}
            <small class="badge badge-secondary badge-pill ml-1" title="{{ recipient.2 }}">{{ recipient.1 }}</small>
          {% endfor %}
        </div>
        <div class="d-flex mt-2" id="subject-line">
          <span class="mb-0">{{ message.subject }}</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column pt-3 scrollarea" id="message-body">
      {{ message.body|safe|linebreaks }}
    </div>
  </div>
{% endblock %}
