{% extends 'base_email.html' %}

{% block title %}[{{ site.name }}] {{ message.subject|safe }}{% endblock %}

{% block preheader %}{{ message.body|truncatechars_html:80 }}{% endblock %}

{% block heading %}{{ message.subject|safe }}{% endblock heading %}

{% block content %}
  {{ message.body|linebreaks }}
{% endblock %}

{% block footer %}
  <p style="font-size: 16px; font-weight: 400; line-height: 24px; margin-top: 48px;">
    This email was sent to <em>{{ recipient.email }}</em>. You received this email because you are an active member of {{ site.name }}.
  </p>
  <p style="font-size: 16px; font-weight: 400; line-height: 24px">
    You can review this message in a web browser by visiting <a href="http://{{ site.domain }}{{ message.get_absolute_url }}">our website</a>.
    While you are there, you can update your email address or adjust your preferences.
  </p>
{% endblock %}
