{% extends 'base_email.html' %}


{% block title %}[{{ site.name }}] {{ message.subject|safe }}{% endblock %}


{% block preheader %}{{ message.body|striptags|truncatechars:80 }}{% endblock %}


{% block header_top %}
  <p>Dear {{ recipient.short_name }},<br>
    <strong>{{ message.author }}</strong> sent the following message{% if message.distribution_lists.exist %} to {% for dl in message.distribution_lists.all %}<i>{{ dl }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}:
  </p>
{% endblock %}


{% block heading %}{{ message.subject|safe }}{% endblock heading %}


{% block content %}
  {{ message.body|safe }}
{% endblock %}


{% block footer %}
  <p style="font-size: 16px; font-weight: 400; line-height: 24px; margin-top: 48px;">
    This email was sent to <em>{{ recipient.email }}</em>. You received this email because you are an active member of {{ site.name }}.
  </p>
  <p style="font-size: 16px; font-weight: 400; line-height: 24px">
    You can review this message in a web browser by visiting <a href="http://{{ site.domain }}{{ message.get_absolute_url }}">our website</a>.
    While you are there, you can update your email address or adjust your preferences.
  </p>
{% endblock %}
