{% extends '_base.html' %}

{% load i18n humanize %}

{% block title %}{{ mailbox }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="d-flex align-items-start justify-content-between vh-100 border rounded">
    {% include 'mail/snippets/sidebar.html' %}
  <div class="d-flex flex-column flex-grow-1 align-items-stretch bg-white vh-100" id="mailbox-message-list">
    {% if mailbox == mailbox.DRAFTS or mailbox == mailbox.SENT %}
      {% include 'mail/snippets/outbound_message_list.html' %}
    {% else %}
      {% include 'mail/snippets/inbound_message_list.html' %}
    {% endif %}
  </div>
    <div class="d-none d-lg-flex flex-column flex-grow-1 vh-100 align-items-center justify-content-center text-muted">
          <span class="display-1"><i class="far fa-envelope"></i></span>
          <p>No Message Selected</p>
    </div>
  </div>
{% endblock %}
