{% extends 'mail/base.html' %}

{% load crispy_forms_tags i18n %}

{% block title %}{% if message.pk %}{{ message.subject }}{% else %}{% translate 'New Message' %}{% endif %} | {{ block.super }}{% endblock %}

{% block message_detail %}
  <div class="d-flex flex-column align-items-start justify-content-center">
    <div class="card">
      <div class="card-body">
        <form method="post">
          <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'mail:inbox' %}" class="btn btn-link">{% translate 'Cancel' %}</a>
            <div class="btn-group btn-group-lg" role="group" aria-label="{% translate 'Message actions' %}">
              <button type="submit" name="_save" class="btn btn-link text-decoration-none" data-toggle="tooltip" title="{% translate 'Save' %}">
                <i class="fas fa-cloud-upload-alt"></i><span class="sr-only">{% translate 'Save' %}</span>
              </button>
              <button type="submit" class="btn btn-link text-decoration-none" data-toggle="tooltip" title="{% translate 'Send' %}">
                <i class="far fa-paper-plane"></i><span class="sr-only">{% translate 'Send' %}</span>
              </button>
            </div>
          </div>
          <fieldset>
            <legend>{% translate 'To' %}</legend>
            <div id="form_set">
              {% for form in dl_formset.forms %}
                {{ form.non_field_errors|as_crispy_errors }}
                {{ form.errors|as_crispy_errors }}
                <div class="form-row">
                  {% for field in form.visible_fields %}
                    {{ field|as_crispy_field }}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
            <button type="button" class="btn btn-link" id="add_more"><i class="fas fa-plus-circle"></i></button>
          </fieldset>
          <fieldset>
            {% for field in form.visible_fields %}
              {{ field|as_crispy_field }}
            {% endfor %}
          </fieldset>
          {% csrf_token %}
          {{ dl_formset.management_form }}
          <div id="empty_form" class="d-none">
            <div class="form-row">
              {{ dl_formset.empty_form|crispy }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  {{ block.super }}
  {{ form.media }}

  <script>
    $('#add_more').click(function () {
      var form_idx = $('#id_items-TOTAL_FORMS').val();
      $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $('#id_items-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
  </script>
{% endblock js %}
