{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:"en-US" }}">
<head>
  <title>{% block title %}{{ pack.shortname }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="{{ pack.name }}">
  <meta name="apple-mobile-web-app-title" content="{{ pack.shortname }}">
  <meta name="application-name" content="{{ pack.shortname }}">
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#003F87" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#003366" media="(prefers-color-scheme: dark)">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#de2d2d">
  <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#5b5d8a">
  <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
  {% block css %}
    <!-- Bootstrap compiled and minified CSS --------------------------------->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@4.0.0/dist/css/bootstrap-light.min.css"
          integrity="sha256-7PCN7vZ7EUUYkYVM9leU2Odz6PUuToqZ2qmqAqRVqoE="
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@4.0.0/dist/css/bootstrap-light-prefers-dark.min.css"
          integrity="sha256-VRF9jzsJ4Z/LtXUbIfnBQVEbPWKNQQW4y0kwLaSWxfQ="
          crossorigin="anonymous">
    <!-- Fontawesome compiled and minified js -------------------------------->
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/js/all.min.js"
            integrity="sha256-JvyceLua6QcW1WgqctZpXYBet37DNhqppFQ4NEai5f8="
            crossorigin="anonymous"
            defer></script>
    <!-- Our own CSS --------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endblock css %}
</head>

<body class="{% block body_extra_class %}{% endblock body_extra_class %}">
<!-- Header Section ------------------------------------------------------>
<header>
  <!-- Banner -------------------------------------------------------------->
  <div class="container-fluid p-0" id="banner">
    <a href="{% url 'pages:home' %}"
       class="d-inline-block my-5 navbar-brand">
      <div class="row align-items-center px-3">
        <div class="col">
          {% blocktranslate with name=pack.name asvar alt_text %}{{ name }} Logo{% endblocktranslate %}
          <img src="{% static 'img/logo.png' %}"
               width="64"
               height="36"
               class="d-block d-sm-none"
               alt="{{ alt_text }}">
          <img src="{% static 'img/logo.png' %}"
               width="125"
               height="70"
               class="d-none d-sm-block"
               alt="{{ alt_text }}">
        </div>
        <div class="col d-none d-sm-block">
          <div class="row" id="pack-name">{{ pack.name }}</div>
          <div class="row" id="pack-location">{{ pack.location }}</div>
          <div class="row" id="pack-tagline">{{ pack.tagline }}</div>
        </div>
      </div>
    </a>
    {% block navbar %}
      <!-- Navigation Bar ------------------------------------------------------>
      {% include "partials/navbar.html" %}
    {% endblock navbar %}

  </div>
</header>
{% if messages %}
  <!-- Messages section ---------------------------------------------------->
  {% for message in messages %}
    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show rounded-0 mb-0">
      <button type="button"
              class="close"
              data-dismiss="alert"
        {% translate 'close' %}>
        <span aria-hidden="true"><i class="fa-solid fa-times-circle"></i></span>
      </button>
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}
{% block supercontent %}
  <!-- Main Content -------------------------------------------------------->
  <main role="main" class="container col-lg-8 my-5">
    {% block content %}
      <h1>{% translate 'Hello World!' %}</h1>
      {% lorem 6 p %}
    {% endblock content %}
  </main>
{% endblock supercontent %}
{% block footer %}
  <!-- Footer Section ------------------------------------------------------>
  <footer class="footer text-center text-white-50 small">
    <div class="my-4">
      <div>
        {% blocktranslate %}
          A scout is <em>trustworthy, loyal, helpful, friendly, courteous, kind,
          obedient, cheerful, thrifty, brave, clean, and reverent.</em>
        {% endblocktranslate %}
      </div>
      <div>
        <i class="fa-regular fa-copyright"></i> {% now "Y" %}
        {% if pack.name %}<strong>{{ pack.name }}</strong>{% endif %}
      </div>
    </div>
  </footer>
{% endblock footer %}

{% block js %}
  <!-- Bootstrap javascript and its dependencies --------------------------->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"
          integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@4.0.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha256-GRJrh0oydT1CwS36bBeJK/2TggpaUQC6GzTaTQdZm0k="
          crossorigin="anonymous"></script>
  <!-- Our own javascript -------------------------------------------------->
  <script src="{% static 'js/main.js' %}"></script>
{% endblock js %}

</body>
</html>
