{% extends '_base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Documents</li>
    </ol>
  </nav>
  <h1>Documents</h1>
  <div class="container" id="document-list">
    {% if document_list %}
      <dl class="row">{% for document in document_list %}
        <dt class="col-sm-4"><a href="{{ document.file }}">{{ document.name }}</a></dt>
        <dd class="col-sm-8">{{ document.description }}<br>
        <small class="text-muted ">Last updated: {{ document.last_updated }}</small></dd>
      {% endfor %}
      </dl>
    {% else %}
      <div class="alert alert-light" role="alert">
        <p>The pack has no uploaded documents to display</p>
      </div>
    {% endif %}
  </div>
{% endblock %}