{% extends '_base.html' %}

{% block title %}Documents{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Documents</li>
    </ol>
  </nav>
  <h1>Documents</h1>
  {% if document_list %}
    <div class="container" id="document-list">
    {% for category in categories %}
      {% if category.document_set.count %}
      <h3>{{ category }}</h3>
      <dl class="row">
        {% for document in category.document_set.all %}
        <dt class="col-sm-4"><a href="{{ document.file }}">{{ document.name }}</a></dt>
        <dd class="col-sm-8">{{ document.description }}<br>
          <small class="text-muted ">Last updated: {{ document.last_updated }}</small></dd>
        {% endfor %}
      </dl>
      {% endif %}
    {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-light" role="alert">
      <p>The pack has no uploaded documents to display</p>
    </div>
  {% endif %}
{% endblock %}