{% extends '_base.html' %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
  </nav>
  <h1>Upcoming Events</h1>
  <div class="container" id="event-list">
    {% if member_list %}
      <ul class="list-unstyled">{% for event in event_list %}
        <li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>{% endfor %}
      </ul>
    {% else %}
      <p>The pack has no upcoming events</p>
    {% endif %}
  </div>
{% endblock %}