{% extends '_base.html' %}
{% load humanize %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
  <h1>Upcoming Events</h1>
  {% if event_list %}
    <dl>
      {% for event in event_list %}
        <div class="row rounded mb-2 p-3{% if forloop.first %} bg-dark{% endif %} {{ event.category.color }}">
          <dt class="col-sm-4">
            <h3 class="text-reset">
              {% if event.category.icon %}{{ event.category.icon|safe }} {% endif %}{{ event.name }}</h3>
            <p>{{ event.start.date|naturalday:'l, F jS'|capfirst }}
              {% if event.end.date != event.start.date %}- <br>
                {{ event.end.date|naturalday:'l, F jS'|capfirst }}{% endif %}
            </p>
          </dt>
          <dd class="col-sm-8">
            {% if user.is_authenticated %}
              <p><strong>Location:</strong> {{ event.get_location }}</p>
              <p><strong>Start:</strong> {{ event.start.time|time:'g:ia' }}<br>
                <strong>End:</strong> {{ event.end.time|time:'g:ia' }}</p>
              <p>{{ event.description|safe|truncatewords_html:15 }}</p>
            {% endif %}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% else %}
    <p>The pack has no scheduled events in the next 6 months</p>
  {% endif %}
{% endblock %}