{% extends '_base.html' %}

{% block title %}Committees{% endblock title %}

{% block content %}
  <div class="container row">
    <h1>Committees</h1>
  </div>
  <div class="container" id="committee-list">
  {% if committee_list %}
    <ul class="list-group">
      {% for committee in committee_list %}
        <li class="list-group-item">
          <a href="{{ committee.get_absolute_url }}">
            <div class="d-flex justify-content-between align-items-center">
              <div class="font-weight-bold ">{{ committee }}</div>
              {% if committee.description %}<small class="text-muted text-truncate ml-3">{{ committee.description }}</small>{% endif %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-light" role="alert">No committees have been defined yet</div>
  {% endif %}
  </div>
{% endblock %}