{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ committee }}{% endblock %}

{% block content %}
  <div class="container rounded">
    <div class=" d-flex justify-content-between align-items-center">
      <h1>{{ committee }}</h1>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">{{ current_year }}</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          {% for year in all_years %}
            {% if not year == current_year %}
              <a class="dropdown-item" href="{% url 'committee_detail_by_year' slug=committee.slug year=year.year %}">{{ year }}</a>
            {% else %}
              <div class="dropdown-item active">{{ year }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% if committee.description %}<p class="text-muted">{{ committee.description }}</p>{% endif %}
  </div>

  <div class="container">
  {% if members.count %}
    <h2 class="mt-3">Member{{ members.count|pluralize }}</h2>
    <div class="list-group">
      {% for member in members.all %}
          <a class="list-group-item list-group-item-action" href="{{ member.member.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-sm-3 col-lg-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' with member=member.member %}
              </div>
              <div class="col">
                <strong>{{ member.member }}</strong><br>
                <span class="text-muted">
                  {% if member.position == 4 %}
                    {{ member.den }}
                  {% else %}
                    {{ member.get_position_display }}
                  {% endif %}
                </span>
              </div>
            </div>
          </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if akelas %}
    {% if not 'Akela' in committee.name %}<h2 class="mt-3">Supporting Akela{{ akelas.count|pluralize }}</h2>{% endif %}
    <div class="list-group">
      {% for member in akelas.all %}
          <a class="list-group-item list-group-item-action" href="{{ member.member.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-sm-3 col-lg-2">
                {% include 'membership/snippets/headshot_thumbnail_snippet.html' with member=member.member %}
              </div>
              <div class="col">
                <strong>{{ member.member }}</strong><br>
              </div>
            </div>
          </a>
      {% endfor %}
    </div>
  {% endif %}
  </div>

{% endblock %}