{% extends '_base.html' %}

{% block title %}Committees{% endblock title %}

{% block content %}
  <div class="container row">
    <h1>Committees</h1>
  </div>
  <div class="container" id="committee-list">
  {% if committee_list %}
    <div class="list-group">
      {% for committee in committee_list %}
          <a class="list-group-item list-group-item-action" href="{{ committee.get_absolute_url }}">
            <div class="row">
              <div class="col-md-3 font-weight-bold ">{% if committee.leadership %}<i class="fas fa-star text-warning"></i> {% endif %}{{ committee }}</div>
              {% if committee.description %}<div class="col text-truncate"><small class="text-muted ml-3">{{ committee.description }}</small></div>{% endif %}
            </div>
          </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-light" role="alert">No committees have been defined yet</div>
  {% endif %}
  </div>
{% endblock %}